# Process hex visitation data for DiD modeling

In [2]:
%load_ext autoreload
%autoreload 2
%cd D:\nine-euro-ticket-de

D:\nine-euro-ticket-de

In [3]:
# Load libs
import pandas as pd
import os
os.environ['USE_PYGEOS'] = '0'
import geopandas as gpd
from tqdm import tqdm
import workers
import sqlalchemy
import numpy as np
import h3
from statsmodels.stats.weightstats import DescrStatsW

In [4]:
# Data location
user = workers.keys_manager['database']['user']
password = workers.keys_manager['database']['password']
port = workers.keys_manager['database']['port']
db_name = workers.keys_manager['database']['name']
engine = sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost:{port}/{db_name}?gssencmode=disable')

In [5]:
# Pyspark set up
os.environ['JAVA_HOME'] = "C:/Java/jdk-1.8"
from pyspark.sql import SparkSession
import sys
from pyspark.sql.types import *
from pyspark import SparkConf
# Set up pyspark
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
# Create new context
spark_conf = SparkConf().setMaster("local[18]").setAppName("MobiSeg")
spark_conf.set("spark.executor.heartbeatInterval","3600s")
spark_conf.set("spark.network.timeout","7200s")
spark_conf.set("spark.sql.files.ignoreCorruptFiles","true")
spark_conf.set("spark.driver.memory", "56g")
spark_conf.set("spark.driver.maxResultSize", "0")
spark_conf.set("spark.executor.memory","8g")
spark_conf.set("spark.memory.fraction", "0.6")
spark_conf.set("spark.sql.session.timeZone", "UTC")
spark = SparkSession.builder.config(conf=spark_conf).getOrCreate()
java_version = spark._jvm.System.getProperty("java.version")
print(f"Java version used by PySpark: {java_version}")
print('Web UI:', spark.sparkContext.uiWebUrl)

Java version used by PySpark: 1.8.0_401
Web UI: http://C19YUEI.net.chalmers.se:4040

## 1. POI visitation data

In [5]:
data_folder = os.path.join('dbs/combined_hex2visits_day_sg/')
paths2stops = {int(x.split('_')[-1].split('.')[0]): os.path.join(data_folder, x)\
               for x in list(os.walk(data_folder))[0][2]}
paths2stops_list = list(paths2stops.values())
paths2stops_list[0]

'dbs/combined_hex2visits_day_sg/stops_0.parquet'

In [ ]:
df = pd.read_parquet(paths2stops_list[0])
df.iloc[0]

## 2. Auxiliary data
### 2.1 Precipitation

In [7]:
df_p = pd.read_sql("""SELECT station_id, date, "RS" AS precipitation FROM precipitation.daily;""", con=engine)
df_poi2p = pd.read_sql("""SELECT osm_id, station_id FROM precipitation.poi_station;""", con=engine)
df_p.head()

   station_id      date  precipitation
0           6  20190501            0.0
1           6  20190502            3.4
2           6  20190503            1.6
3           6  20190504            7.0
4           6  20190505            0.0

In [8]:
df_p.loc[:, 'date_time'] = pd.to_datetime(df_p['date'].astype(str), format='%Y%m%d')

### 2.2 PT access

In [9]:
df_pt = pd.read_sql("""SELECT osm_id, pt_station_num FROM public_transport.poi_pt_station;""", con=engine)

### 2.3 National holiday

In [10]:
holidays = [np.datetime64(pd.to_datetime(x, format='%Y%m%d')) 
            for x in [20190501, 20190530, 20190610, 
                      20220415, 20220418, 20220501, 20220526, 20220606, 
                      20220407, 20220410, 20230501, 20230518, 20230529]]

## 3. Processing visitation data

In [25]:
# Time processing
df.loc[:, 'date_time'] = pd.to_datetime(df['date'].astype(str), format='%Y-%m-%d')
print(f'{len(df)} visits on {df.osm_id.nunique()} locations from {df.device_aid.nunique()} devices.')

# Filter out national holidays
df.loc[:, 'date_time'] = df.loc[~df['date_time'].isin(holidays), :]
print(f'After removing holidays, {len(df)} visits on {df.osm_id.nunique()} locations from {df.device_aid.nunique()} devices.')

# Add pt stations
df = pd.merge(df, df_pt, on='osm_id', how='left')
df.dropna(inplace=True)
df.drop_duplicates(subset=['device_aid', 'date', 'dur', 'osm_id'], inplace=True)
print(f'After adding public stops, {len(df)} visits on {df.osm_id.nunique()} locations from {df.device_aid.nunique()} devices.')

328877 visits on 60887 locations from 7648 devices.
After removing holidays, 328877 visits on 60887 locations from 7648 devices.
After adding public stops, 314134 visits on 60328 locations from 7646 devices.

In [41]:
# Add precipitation information
df_rain = df.drop_duplicates(subset=['date_time', 'osm_id'])[['date_time', 'osm_id']]
print(f'For precipitation data: {len(df_rain)} pairs on {df_rain.osm_id.nunique()} locations from {df_rain.date_time.nunique()} days.')

For precipitation data: 223456 pairs on 60328 locations from 450 days.

In [42]:
df_rain = pd.merge(df_rain, df_poi2p, on='osm_id', how='left')
df_rain.loc[:, 'station_id'] = df_rain.loc[:, 'station_id'].apply(lambda x: [int(j) for j in x.split(',') if j != ''])
df_rain.head()

   date_time       osm_id                                         station_id
0 2022-06-20  404916112.0  [15523, 2249, 3939, 15156, 14028, 1251, 14304,...
1 2022-07-11  404916112.0  [15523, 2249, 3939, 15156, 14028, 1251, 14304,...
2 2022-07-14  695230966.0  [14043, 14079, 14032, 14049, 19100, 161, 13691...
3 2022-07-16  404057116.0  [2249, 15523, 3939, 15156, 1251, 19244, 14028,...
4 2022-07-23  404973915.0  [2249, 3939, 15156, 1251, 14304, 19244, 13778,...

In [56]:
df_rec_list = []
for i in tqdm(range(0, 15), desc='Searching for precipitation'):
    df_rain.loc[:, 'station'] = df_rain.loc[:, 'station_id'].apply(lambda x: x[i] if len(x) > i else None)
    df_rec = pd.merge(df_rain[['date_time', 'osm_id', 'station']],
                      df_p[['date_time', 'station_id', 'precipitation']].rename(columns={'station_id': 'station'}),
                      on=['station', 'date_time'], how='left')
    df_rec.dropna(inplace=True)
    df_rec_list.append(df_rec)

Searching for precipitation: 100%|██████████| 15/15 [00:04<00:00,  3.71it/s]

In [58]:
df_rec = pd.concat(df_rec_list)
df_rec.drop_duplicates(subset=['date_time', 'osm_id'], keep='first', inplace=True)
print(f'For precipitation data: {len(df_rec)/len(df_rain)*100} % have records.')

For precipitation data: 98.34445016054354 % have records.

In [59]:
df_rec.head()

   date_time       osm_id  station  precipitation
3 2022-07-16  404057116.0   2249.0            0.0
4 2022-07-23  404973915.0   2249.0            0.1
5 2022-08-06  404973915.0   2249.0            0.0
8 2022-08-13  404974714.0   2249.0            0.0
9 2022-08-16  404973915.0   2249.0            0.0

In [60]:
# Add precipitation
df = pd.merge(df, df_rec[['osm_id', 'date_time', 'precipitation']], on=['osm_id', 'date_time'], how='left')
df.dropna(inplace=True)
df.drop_duplicates(subset=['device_aid', 'date', 'dur', 'osm_id'], inplace=True)
print(f'After adding precipitation, {len(df)} visits on {df.osm_id.nunique()} locations from {df.device_aid.nunique()} devices.')

After adding precipitation, 311700 visits on 59814 locations from 7638 devices.

## 4. Scale up the processing

In [11]:
df_d2f = pd.read_sql("""SELECT device_aid, station_id AS station_id_f FROM fuel_station WHERE station_num > 0;""", con=engine)
df_fp = pd.read_sql("""
    SELECT 
        station_uuid AS station_f, 
        date, 
        CASE 
            WHEN e5 IS NULL THEN e10
            WHEN e10 IS NULL THEN e5
            ELSE (e5 + e10) / 2.0 
        END AS ef
    FROM fuel_station_price;
""", con=engine)
df_fp.loc[:, 'date_time'] = pd.to_datetime(df_fp['date'].astype(str), format='%Y-%m-%d')

In [22]:
def visitation_enrichment(data=None):
    # Time processing
    data.loc[:, 'date_time'] = pd.to_datetime(data['date'].astype(str), format='%Y-%m-%d')
    #print(f'{len(data)} visits on {data.osm_id.nunique()} locations from {data.device_aid.nunique()} devices.')

    # Filter out national holidays
    data.loc[:, 'date_time'] = data.loc[~data['date_time'].isin(holidays), :]
    #print(f'After removing holidays, {len(data)} visits on {data.osm_id.nunique()} locations from {data.device_aid.nunique()} devices.')
    
    # Add pt stations
    data = pd.merge(data, df_pt, on='osm_id', how='left')
    data.dropna(inplace=True)
    data.drop_duplicates(subset=['device_aid', 'date', 'dur', 'osm_id'], inplace=True)
    #print(f'After adding public stops, {len(data)} visits on {data.osm_id.nunique()} locations from {data.device_aid.nunique()} devices.')
    
    # Add precipitation information
    df_rain = data.drop_duplicates(subset=['date_time', 'osm_id'])[['date_time', 'osm_id']]
    #print(f'For precipitation data: {len(df_rain)} pairs on {df_rain.osm_id.nunique()} locations from {df_rain.date_time.nunique()} days.')
    df_rain = pd.merge(df_rain, df_poi2p, on='osm_id', how='left')
    df_rain.loc[:, 'station_id'] = df_rain.loc[:, 'station_id'].apply(lambda x: [int(j) for j in x.split(',') if j != ''])
    
    df_rec_list = []
    for i in range(0, 15):
        df_rain.loc[:, 'station'] = df_rain.loc[:, 'station_id'].apply(lambda x: x[i] if len(x) > i else None)
        df_rec = pd.merge(df_rain[['date_time', 'osm_id', 'station']],
                          df_p[['date_time', 'station_id', 'precipitation']].rename(columns={'station_id': 'station'}),
                          on=['station', 'date_time'], how='left')
        df_rec.dropna(inplace=True)
        df_rec_list.append(df_rec)
    df_rec = pd.concat(df_rec_list)
    df_rec.drop_duplicates(subset=['date_time', 'osm_id'], keep='first', inplace=True)
    #print(f'For precipitation data: {len(df_rec)/len(df_rain)*100} % have records.')
    # Add precipitation
    data = pd.merge(data, df_rec[['osm_id', 'date_time', 'precipitation']], on=['osm_id', 'date_time'], how='left')
    data.dropna(inplace=True)
    
    # Add fuel price information
    df_fuel = data.drop_duplicates(subset=['date_time', 'device_aid'])[['date_time', 'device_aid']]
    df_fuel = pd.merge(df_fuel, df_d2f, on='device_aid', how='left')
    df_fuel.dropna(inplace=True)
    df_fuel.loc[:, 'station_id_f'] = df_fuel.loc[:, 'station_id_f'].apply(lambda x: [j for j in x.split(',') if j != ''])

    df_rec_list = []
    for i in range(0, 5):
        df_fuel.loc[:, 'station_f'] = df_fuel.loc[:, 'station_id_f'].apply(lambda x: x[i] if len(x) > i else None)
        df_rec_f = pd.merge(df_fuel[['date_time', 'device_aid', 'station_f']],
                          df_fp[['date_time', 'station_f', 'ef']],
                          on=['date_time', 'station_f'], how='left')
        df_rec_f.dropna(inplace=True)
        df_rec_list.append(df_rec_f)
    df_rec_f = pd.concat(df_rec_list)
    df_rec_f.drop_duplicates(subset=['date_time', 'device_aid'], keep='first', inplace=True)

    median_ef = df_rec_f[['device_aid', 'date_time', 'ef']].groupby('date_time')['ef'].median().reset_index()
    median_ef_s = df_rec_f['ef'].median()
    data = pd.merge(data, df_rec_f[['device_aid', 'date_time', 'ef']], on=['device_aid', 'date_time'], how='left')
    # Merge the median values into the main data
    data = pd.merge(data, median_ef, on='date_time', how='left', suffixes=('', '_median'))

    # Fill NaN values in 'ef' with the median values
    data['ef'] = data['ef'].fillna(data['ef_median'])
    data['ef'] = data['ef'].fillna(median_ef_s)
    # Drop the temporary 'ef_median' column if no longer needed
    data = data.drop(columns=['ef_median'])
    data.drop_duplicates(subset=['device_aid', 'date', 'dur', 'osm_id'], inplace=True)
    data.dropna(inplace=True)
    return data, list(data.osm_id.unique()), data.device_aid.nunique(), len(data)

In [25]:
osm_id_list = []
devices_count = 0
visits_count = 0
upper_reso = 3
for k, v in tqdm(paths2stops.items(), desc='Processing batches'):
    df = pd.read_parquet(v)
    df_processed, osms, no_devices, no_visits = visitation_enrichment(data=df)
    osm_id_list += osms
    devices_count += no_devices
    visits_count += no_visits
    df_processed.loc[:, f'h3_parent_{upper_reso}'] = df_processed['h3_id'].apply(lambda x: h3.cell_to_parent(x, upper_reso))
    df_processed.to_parquet(f'dbs/combined_hex2visits_day_did/stops_{k}.parquet', index=False)
osm_id_list = list(set(osm_id_list))

Processing batches: 100%|██████████| 300/300 [6:32:26<00:00, 78.49s/it]

In [26]:
print(f"In total, {visits_count} visits to {len(osm_id_list)} unique locations from {devices_count} devices are stored.")

In total, 420540112 visits to 798068 unique locations from 22138925 devices are stored.

### 4.1 Re-group hexagon results

In [10]:
data_folder = os.path.join('dbs/combined_hex2visits_day_did/')
paths2stops = {int(x.split('_')[-1].split('.')[0]): os.path.join(data_folder, x)\
               for x in list(os.walk(data_folder))[0][2]}
paths2stops_list = list(paths2stops.values())
paths2stops_list[0]

'dbs/combined_hex2visits_day_did/stops_0.parquet'

In [11]:
for n in (0, 1, 2):
    df = pd.concat([pd.read_parquet(file) for file in tqdm(paths2stops_list[n*100 : (n+1)*100])], ignore_index=True)
    def save_g(group):
        group.to_parquet(os.path.join(f'dbs/combined_hex2visits_day_did_g/h_{group.name}_{n}.parquet'), index=False)
    tqdm.pandas()
    df.groupby('h3_parent_3').progress_apply(save_g, include_groups=False)
    del df

100%|██████████| 100/100 [01:20<00:00,  1.24it/s]
100%|██████████| 49/49 [02:31<00:00,  3.10s/it]
100%|██████████| 100/100 [01:19<00:00,  1.25it/s]
100%|██████████| 49/49 [02:33<00:00,  3.14s/it]
100%|██████████| 100/100 [01:19<00:00,  1.26it/s]
100%|██████████| 49/49 [02:33<00:00,  3.13s/it]

In [12]:
data_folder = os.path.join('dbs/combined_hex2visits_day_did_g/')
h3_parent_list = list(set([x.split('_')[1] for x in list(os.walk(data_folder))[0][2]]))
h3_parent_list[0]

'831f33fffffffff'

In [13]:
for h3_p in tqdm(h3_parent_list, desc='Merging h3 parent grid'):
    h3_parent_files = [f"dbs/combined_hex2visits_day_did_g/h_{x}_{y}.parquet" 
                       for x, y in zip([h3_p]*3, [0, 1, 2])]
    df = pd.concat([pd.read_parquet(file) for file in h3_parent_files], ignore_index=True)
    df.to_parquet(os.path.join(f'dbs/combined_hex2visits_day_did_g/h_{h3_p}.parquet'), index=False)

Merging h3 parent grid: 100%|██████████| 49/49 [09:03<00:00, 11.09s/it]

In [14]:
h3_parent_files = []
for h3_p in h3_parent_list:
    h3_parent_files += [f"dbs/combined_hex2visits_day_did_g/h_{x}_{y}.parquet" 
                        for x, y in zip([h3_p]*3, [0, 1, 2])]
h3_parent_files[:4]

['dbs/combined_hex2visits_day_did_g/h_831f33fffffffff_0.parquet',
 'dbs/combined_hex2visits_day_did_g/h_831f33fffffffff_1.parquet',
 'dbs/combined_hex2visits_day_did_g/h_831f33fffffffff_2.parquet',
 'dbs/combined_hex2visits_day_did_g/h_831f12fffffffff_0.parquet']

In [15]:
for ele in h3_parent_files:
    os.remove(ele)

## 5. Individual information enrichment (Hex)
Existing: grdi, wt_p
To add: pop_100m, age_100m, net_rent_100m, foreign_share_100m*
*Needs to extract from external file, not in the database.

In [5]:
data_folder = os.path.join('dbs/combined_hex2visits_day_did_g/')
h3_parent_list = [data_folder + x for x in list(os.walk(data_folder))[0][2]]
h3_parent_list[0]

'dbs/combined_hex2visits_day_did_g/h_831e26fffffffff.parquet'

In [ ]:
df = pd.read_parquet(h3_parent_list[0])
df.head()

### 5.1 Load individual data

In [92]:
df_h = pd.read_sql("""SELECT device_aid, pop_100m, pop_1km, age_100m, net_rent_100m, grdi FROM home_g;""", con=engine)
df_hc = pd.read_sql("""SELECT device_aid, latitude, longitude FROM home;""", con=engine)
df_h = pd.merge(df_h, df_hc, on='device_aid', how='left')
del df_hc

In [ ]:
gdf_h = workers.df2gdf_point(df=df_h, x_field='longitude', y_field='latitude', crs=4326, drop=True).to_crs(3035)
gdf_h.head()

Add foreign info.

In [ ]:
df_c = pd.read_csv('dbs/geo/census_2022/Auslaenderanteil_in_Gitterzellen/Zensus2022_Anteil_Auslaender_100m-Gitter.csv',
                   sep=';', encoding='utf-8')
df_c.columns = ['grid', 'x_mp_100m', 'y_mp_100m', 'f_share', 'un']
df_c = df_c[['grid', 'x_mp_100m', 'y_mp_100m', 'f_share']]
df_c['f_share'] = df_c['f_share'].replace('–', 0)  # Replace '–' with NaN
df_c.loc[:, 'f_share'] = df_c.loc[:, 'f_share'].str.replace(',', '.').astype(float)
df_c.fillna(0, inplace=True)
# Apply function to create geometry column
df_c['geometry'] = df_c.apply(lambda row: workers.create_square(row['x_mp_100m'], row['y_mp_100m']), axis=1)
# Convert to GeoDataFrame
gdf_c = gpd.GeoDataFrame(df_c, geometry='geometry', crs="EPSG:3035")

In [94]:
gdf_h = gdf_h.sjoin(gdf_c[['f_share', 'geometry']], how='left')
len(gdf_h)

22741786

In [95]:
gdf_h.drop(columns=['index_right'], inplace=True)

In [ ]:
df_w = pd.read_sql("""SELECT * FROM weight;""", con=engine)

In [96]:
gdf_h = pd.merge(gdf_h, df_w, on='device_aid', how='left')

In [97]:
var_stats_list = []
for var in ['pop_100m', 'pop_1km', 'age_100m', 'net_rent_100m', 'f_share', 'grdi']:
    ## Weighted percentiles
    na_l = len(gdf_h.loc[gdf_h[var].isna(), [var]])
    data = gdf_h.loc[~gdf_h[var].isna(), [var, 'wt_p']].copy()
    d, wt = data[var], data['wt_p']
    wdf = DescrStatsW(d, weights=wt, ddof=1)
    sts = wdf.quantile([0.25, 0.5, 0.75])
    bds = sts.values
    var_stats_list.append((var, na_l, bds[0], bds[1], bds[2]))
df_var_stats = pd.DataFrame(var_stats_list, columns=['var', 'missing', 'q25', 'q50', 'q75'])

In [98]:
df_var_stats

             var  missing         q25          q50         q75
0       pop_100m  5618795   24.000000    46.000000    93.00000
1        pop_1km   303347  742.000000  2007.000000  4148.00000
2       age_100m  5618796   38.000000    42.000000    48.00000
3  net_rent_100m  9106688    5.000000     6.000000     8.00000
4        f_share  5618795    0.000000     8.700000    22.06000
5           grdi        0    3.374868     9.876637    29.29395

In [ ]:
for var, cat in tqdm(zip(['pop_1km', 'age_100m', 'net_rent_100m', 'f_share', 'grdi'],
                    ['pop_density', 'age', 'net_rent', 'birth_f', 'deprivation'])):
    grp_b = df_var_stats.loc[df_var_stats['var'] == var, ['q25', 'q50', 'q75']].values[0].tolist()
    if var != 'f_share':
        grp_b = sorted([gdf_h[var].min()-1] + grp_b + [gdf_h[var].max()+1])  # Full range
        labels=["q1", "q2", "q3", 'q4']
    else:
        grp_b = sorted([-1, 8.7, 22.06, 101])  # Full range
        labels=["q12", "q3", 'q4']
    p1 = gdf_h.loc[~gdf_h[var].isna(), :]
    p2 = gdf_h.loc[gdf_h[var].isna(), :]
    p1[cat] = pd.cut(p1[var], grp_b, labels=labels)
    p2[cat] = 'na'
    gdf_h = pd.concat([p1, p2])
gdf_h.head()

In [101]:
gdf_h[['device_aid', 'f_share', 'wt_p', 'pop_density', 
       'age', 'net_rent', 'birth_f', 'deprivation']].to_sql(f'device_grp', engine, index=False, 
                                                            if_exists='replace', method='multi', chunksize=5000)

22960172

## 6. Daily visitation calculation - hex x device group

In [5]:
df_ind = pd.read_sql("""SELECT * FROM device_grp;""", con=engine)

In [6]:
data_folder = os.path.join('dbs/combined_hex2visits_day_did_g/')
hex_file_list = [data_folder + x for x in list(os.walk(data_folder))[0][2]]
hex_file_list[0]

'dbs/combined_hex2visits_day_did_g/h_831e26fffffffff.parquet'

In [25]:
def visit_patterns_hex(data):
    data.loc[:, 'date'] = data.loc[:, 'date'].astype(str)
    metrics_dict = dict()
    # osm_id info
    for var in ('year', 'month', 'weekday'):
        metrics_dict[var] = data[var].values[0]
    # Spatial characteristics
    for var in ('precipitation', 'pt_station_num'):
        metrics_dict[var] = np.average(data[var], weights=data['wt_p'])
    # Visits
    metrics_dict['num_visits_wt'] = data['wt_p'].sum()
    metrics_dict['num_unique_device'] = data.device_aid.nunique()

    # Individuals in the origins
    metrics_dict['f_share'] = np.average(data.loc[~data['f_share'].isna(), 'f_share'], 
                                         weights=data.loc[~data['f_share'].isna(), 'wt_p'])
    metrics_dict['grdi'] = np.average(data.loc[~data['grdi'].isna(), 'grdi'], 
                                         weights=data.loc[~data['grdi'].isna(), 'wt_p'])
    
    ## weighted average
    d, wt = data.loc[data['d_h'] > 0, 'd_h'], data.loc[data['d_h'] > 0, 'wt_p']
    d_lg = d.apply(lambda x: np.log10(x))
    metrics_dict['d_ha_wt'] = 10 ** np.average(d_lg, weights=wt)
    return pd.Series(metrics_dict)  # pd.DataFrame(metrics_dict, index=[0])

In [21]:
for f, i in zip(hex_file_list, range(1, len(hex_file_list) + 1)):
    print(f'File {i}/{len(hex_file_list)}...')
    df = pd.read_parquet(hex_file_list[0])
    df = pd.merge(df, df_ind.drop(columns=['wt_p']), on='device_aid', how='left')
    tqdm.pandas()
    df_v = df.groupby(['h3_id', 'date']).progress_apply(visit_patterns_hex).reset_index()
    df_v.loc[:, 'group'] = 'all'
    df_v.loc[:, 'level'] = 'all'
    df_v_list = [df_v]
    for v in ( 'pop_density', 'age', 'net_rent', 'birth_f', 'deprivation'):
        tqdm.pandas()
        df_v = df.groupby(['h3_id', 'date', v]).progress_apply(visit_patterns_hex).reset_index()
        df_v.rename(columns={v: 'level'}, inplace=True)
        df_v.loc[:, 'group'] = v
        df_v_list.append(df_v)

100%|██████████| 15105/15105 [00:39<00:00, 378.92it/s]