# Precipitation and distance to nearest public transit station

In [1]:
%load_ext autoreload
%autoreload 2
%cd D:\nine-euro-ticket-de

D:\nine-euro-ticket-de

In [2]:
# Load libs
import pandas as pd
import os
os.environ['USE_PYGEOS'] = '0'
import geopandas as gpd
from tqdm import tqdm
import workers
import sqlalchemy
import rasterio
import zipfile
from ftplib import FTP
import numpy as np
from sklearn.neighbors import KDTree

In [3]:
# Data location
user = workers.keys_manager['database']['user']
password = workers.keys_manager['database']['password']
port = workers.keys_manager['database']['port']
db_name = workers.keys_manager['database']['name']
engine = sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost:{port}/{db_name}?gssencmode=disable')

## 0. Download precipitation data

In [52]:
ftp = FTP('opendata.dwd.de')  # Replace with your FTP address
ftp.login()
ftp.cwd('/climate_environment/CDC/observations_germany/climate/daily/more_precip/historical')
local_directory = 'dbs/precipitation/daily'
# Function to download a file
def download_file(filename):
    local_filepath = os.path.join(local_directory, filename)
    with open(local_filepath, 'wb') as file:
        ftp.retrbinary(f"RETR {filename}", file.write)
# List files in the directory and download each file
filenames = ftp.nlst()  # List files in the directory
for filename in filenames:
    download_file(filename)

# Close the connection
ftp.quit()

'221 Goodbye.'

## 1. Load precipitation data

In [4]:
file_path = 'dbs/precipitation/daily/'
station_file = 'RR_Tageswerte_Beschreibung_Stationen.txt'
paths2stations = dict()
for x in list(os.walk(file_path))[0][2]:
    if '.txt' not in x:
        paths2stations[x.split('_')[2]] = os.path.join(file_path, x)
paths2stations_list = list(paths2stations.values())

In [5]:
column_names = ['station_id', 'start_date', 'end_date', 
                'height', 'lng', 'lat', 'name', 'state', 'ex', 'ex2', 'ex3', 'ex4']
df_s = pd.read_csv(file_path + station_file, skiprows=2, skipinitialspace=True,
                   encoding='latin-1', header=None, delimiter=r"\s+", names=column_names)
df_s = df_s.loc[df_s.end_date > 20190501, ['station_id', 'start_date', 'end_date', 'height', 'lng', 'lat']]

In [6]:
df_s.head()

    station_id  start_date  end_date  height      lng      lat
4            6    19821101  20240605     455  48.8361  10.0598
12          15    19510101  20240501     392  49.2346  10.9667
16          19    19510101  20240605     471  48.8795   9.9710
17          20    19410101  20240605     432  48.9219   9.9129
18          21    18921101  20240605     498  47.6104   9.6981

In [7]:
df_s.describe()

,station_id,start_date,end_date,height,lng,lat
count,2689.000000,2.689000e+03,2.689000e+03,2689.000000,2689.000000,2689.000000
mean,6687.049833,1.970659e+07,2.023945e+07,295.002603,50.585731,10.147842
std,6087.008239,3.988454e+05,6.149421e+03,246.312938,1.739904,2.167046
min,6.000000,1.827010e+07,2.019053e+07,-1.000000,47.268900,5.907100
25%,2323.000000,1.941010e+07,2.024060e+07,85.000000,49.250500,8.289600
50%,4413.000000,1.969010e+07,2.024060e+07,249.000000,50.534600,10.142400
75%,7485.000000,2.009090e+07,2.024060e+07,446.000000,51.766300,11.912500
max,19917.000000,2.024043e+07,2.024060e+07,2956.000000,55.011000,14.950600

In [8]:
df_s.station_id.nunique()

2689

### 1.1 Daily records processing

In [9]:
p11 = pd.to_datetime('2019050100', format='%Y%m%d%H')
p12 = pd.to_datetime('2019093000', format='%Y%m%d%H')
p21 = pd.to_datetime('2022020100', format='%Y%m%d%H')
p22 = pd.to_datetime('2022093000', format='%Y%m%d%H')
p31 = pd.to_datetime('2023020100', format='%Y%m%d%H')
p32 = pd.to_datetime('2023093000', format='%Y%m%d%H')

In [10]:
def rec_load(zip_file_path=None):
    # Open the zip file
    with zipfile.ZipFile(zip_file_path, 'r') as z:
        # List all files in the zip file
        file_list = z.namelist()
        # Find the file starting with 'product'
        product_file_name = next((f for f in file_list if f.startswith('produkt')), None)
        # Check if the file was found
        if product_file_name:
            # Read the file content
            with z.open(product_file_name) as f:
                # Load the content into a DataFrame
                df = pd.read_csv(f, sep=';')  # Adjust the separator as needed
                df.columns = ['station_id', 'date', 'QN_6', 'RS', 'RSF', 'SH_TAG', 'NSH_TAG', 'eor']
                return df
        else:
            return None
            
def rec_process(df=None):
    df = df.loc[df.RS != -999, ['station_id', 'date', 'RS']]
    df.loc[:, 'date_time'] = pd.to_datetime(df['date'].astype(str), format='%Y%m%d')
    # Filter the DataFrame
    mask = (
        (df['date_time'] >= p11) & (df['date_time'] <= p12) |
        (df['date_time'] >= p21) & (df['date_time'] <= p22) |
        (df['date_time'] >= p31) & (df['date_time'] <= p32)
    )
    df = df.loc[mask]
    if len(df) > 0:
        df['date_d'] = df['date_time'].dt.date
        return df
    else:
        return None

In [11]:
df_d_list = []
for zip_file_path in tqdm(paths2stations_list, desc='Processing daily records'):
    df = rec_load(zip_file_path=zip_file_path)
    if df is not None:
        df = rec_process(df=df)
        if df is not None:
            df_d_list.append(df)

Processing daily records: 100%|██████████| 5740/5740 [06:07<00:00, 15.61it/s]

In [12]:
df_day = pd.concat(df_d_list)
df_day.station_id.nunique()

1989

### 1.2 Save data

In [14]:
df_day[['station_id', 'date', 'RS']].to_sql('daily', con=engine, schema='precipitation', index=False,
                                            method='multi', if_exists='replace', chunksize=5000)

1209017

In [15]:
df_s.to_sql('stations', con=engine, schema='precipitation', index=False,
            method='multi', if_exists='replace', chunksize=5000)

2689

## 2. Load POI data and add elevation information

In [83]:
# Read the raster file
raster_path = 'dbs/geo/srtm_germany_dtm/srtm_germany_dtm.tif'
raster = rasterio.open(raster_path)

# Read the GeoDataFrame with places
gdf = gpd.GeoDataFrame.from_postgis("""SELECT osm_id, geom FROM poi;""", con=engine)
print(len(gdf))

2086633

In [86]:
gdf = gpd.GeoDataFrame(gdf, geometry=gdf['geom'])

In [89]:
coord_list = [(x, y) for x, y in zip(gdf["geometry"].x, gdf["geometry"].y)]

In [93]:
# Create a new column in the GeoDataFrame to store the elevation data
gdf['elevation'] = [x[0] for x in raster.sample(coord_list)]

## 3. Assign nearby weather station

In [96]:
df_s.head()

    station_id  start_date  end_date  height      lng      lat
4            6    19821101  20240605     455  48.8361  10.0598
12          15    19510101  20240501     392  49.2346  10.9667
16          19    19510101  20240605     471  48.8795   9.9710
17          20    19410101  20240605     432  48.9219   9.9129
18          21    18921101  20240605     498  47.6104   9.6981

In [117]:
print('Process stations.')
gdf_s = workers.df2gdf_point(df_s, 'lat', 'lng', crs=4326, drop=False)
gdf_s = gdf_s.to_crs(25832)  # Projection in meter for Germany
gdf_s.loc[:, 'y'] = gdf_s.geometry.y
gdf_s.loc[:, 'x'] = gdf_s.geometry.x
gdf_s = gdf_s.reset_index(drop=True)
tree = KDTree(gdf_s[["y", "x"]], metric="euclidean")

Process stations.

In [99]:
print('Process POIs.')
gdf = gdf.to_crs(25832)
gdf.loc[:, 'y'] = gdf.geometry.y
gdf.loc[:, 'x'] = gdf.geometry.x
gdf.replace([np.inf, -np.inf], np.nan, inplace=True)
gdf.dropna(subset=["x", "y"], how="any", inplace=True)

Process POIs.

In [118]:
print('Search for nearest POI.')
radius = 80*1000    # 80 km radius
ind, dist = tree.query_radius(gdf[["y", "x"]].to_records(index=False).tolist(),
                                   r=radius, return_distance=True, count_only=False, sort_results=True)

Search for nearest POI.

In [119]:
gdf.loc[:, 'station_num'] = [len(x) for x in ind]

In [123]:
stations_list = []
for x, ele in tqdm(zip(ind, gdf.elevation), 'Candidate stations'):
    sts = gdf_s.loc[x, ['station_id', 'height']]
    sts.loc[:, 'ele_diff'] = abs(sts.loc[:, 'height'] - ele)
    sta_list = [str(j) for j in sts.loc[sts.ele_diff < 150, 'station_id'].values[:15]]
    stations_list.append(','.join(sta_list))

Candidate stations: 2086633it [56:30, 615.52it/s]

In [124]:
gdf.loc[:, 'station_id'] = stations_list

In [127]:
gdf[['osm_id', 'elevation', 'station_num', 'station_id']].\
    to_sql('poi_station', con=engine, schema='precipitation', index=False,
           method='multi', if_exists='replace', chunksize=5000)

2086633

## 4. Load public transit data

In [129]:
df_stops = pd.read_csv('dbs/geo/gtfs-germany/stops.txt', delimiter=',')
df_stops = df_stops[['stop_id', 'stop_lat', 'stop_lon']].drop_duplicates(subset=['stop_lat', 'stop_lon'])

In [130]:
len(df_stops)

596494

In [132]:
df_stops.head()

   stop_id   stop_lat  stop_lon
0   217835  51.872280  6.247406
2   625736  51.876490  6.247513
4     4119  51.874798  6.253927
5    22316  51.874737  6.254116
6   431708  51.874844  6.254296

### 4.1 Find the number of public transport stations nearby
Within 800 m radius

In [133]:
print('Process pt stations.')
gdf_stops = workers.df2gdf_point(df_stops, 'stop_lon', 'stop_lat', crs=4326, drop=False)
gdf_stops = gdf_stops.to_crs(25832)  # Projection in meter for Germany
gdf_stops.loc[:, 'y'] = gdf_stops.geometry.y
gdf_stops.loc[:, 'x'] = gdf_stops.geometry.x
gdf_stops = gdf_stops.reset_index(drop=True)
tree = KDTree(gdf_stops[["y", "x"]], metric="euclidean")

Process pt stations.

In [134]:
gdf.head()

,osm_id,geom,geometry,elevation,y,x,station_num,station_id
0,324043489,POINT (13.83511 48.76237),POINT (855276.495 5412325.048),1073,5.412325e+06,855276.494784,62,"1933,3211,19206,19195,19196,19198,19204,19203,708"
1,897267627,POINT (13.83534 48.76241),POINT (855292.740 5412330.767),1073,5.412331e+06,855292.740088,62,"1933,3211,19206,19195,19196,19198,19204,19203,708"
2,323299682,POINT (13.83580 48.76255),POINT (855325.672 5412348.134),1086,5.412348e+06,855325.672032,62,"1933,3211,19206,19195,19196,19198,19203,708"
3,897267707,POINT (13.83551 48.76253),POINT (855304.438 5412344.664),1086,5.412345e+06,855304.438225,62,"1933,3211,19206,19195,19196,19198,19203,708"
4,323777930,POINT (13.83614 48.76274),POINT (855349.349 5412370.937),1086,5.412371e+06,855349.348691,62,"1933,3211,19206,19195,19196,19198,19203,708"

In [135]:
print('Search for nearest pt stations.')
radius = 800    # 800 m radius
ind, dist = tree.query_radius(gdf[["y", "x"]].to_records(index=False).tolist(),
                                   r=radius, return_distance=True, count_only=False, sort_results=True)

Search for nearest pt stations.

In [136]:
gdf.loc[:, 'pt_station_num'] = [len(x) for x in ind]

In [139]:
gdf[['osm_id', 'pt_station_num']].\
    to_sql('poi_pt_station', con=engine, schema='public_transport', index=False,
           method='multi', if_exists='replace', chunksize=5000)
df_stops.to_sql('pt_stations', con=engine, schema='public_transport', index=False,
           method='multi', if_exists='replace', chunksize=5000)

596494