# Process POI visitation data for DiD modeling

In [2]:
%load_ext autoreload
%autoreload 2
%cd D:\nine-euro-ticket-de

D:\nine-euro-ticket-de

In [3]:
# Load libs
import pandas as pd
import os
os.environ['USE_PYGEOS'] = '0'
import geopandas as gpd
from tqdm import tqdm
import workers
import sqlalchemy
import numpy as np
import h3
import time
from statsmodels.stats.weightstats import DescrStatsW

In [4]:
# Data location
user = workers.keys_manager['database']['user']
password = workers.keys_manager['database']['password']
port = workers.keys_manager['database']['port']
db_name = workers.keys_manager['database']['name']
engine = sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost:{port}/{db_name}?gssencmode=disable')

In [5]:
# Pyspark set up
os.environ['JAVA_HOME'] = "C:/Java/jdk-1.8"
from pyspark.sql import SparkSession
import sys
from pyspark.sql.types import *
from pyspark import SparkConf
# Set up pyspark
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
# Create new context
spark_conf = SparkConf().setMaster("local[18]").setAppName("MobiSeg")
spark_conf.set("spark.executor.heartbeatInterval","3600s")
spark_conf.set("spark.network.timeout","7200s")
spark_conf.set("spark.sql.files.ignoreCorruptFiles","true")
spark_conf.set("spark.driver.memory", "56g")
spark_conf.set("spark.driver.maxResultSize", "0")
spark_conf.set("spark.executor.memory","8g")
spark_conf.set("spark.memory.fraction", "0.6")
spark_conf.set("spark.sql.session.timeZone", "UTC")
spark = SparkSession.builder.config(conf=spark_conf).getOrCreate()
java_version = spark._jvm.System.getProperty("java.version")
print(f"Java version used by PySpark: {java_version}")
print('Web UI:', spark.sparkContext.uiWebUrl)

Java version used by PySpark: 1.8.0_401
Web UI: http://C19YUEI.net.chalmers.se:4040

## 1. POI visitation data

In [5]:
data_folder = os.path.join('dbs/combined_hex2visits_day_sg/')
paths2stops = {int(x.split('_')[-1].split('.')[0]): os.path.join(data_folder, x)\
               for x in list(os.walk(data_folder))[0][2]}
paths2stops_list = list(paths2stops.values())
paths2stops_list[0]

'dbs/combined_hex2visits_day_sg/stops_0.parquet'

In [6]:
df = pd.read_parquet(paths2stops_list[0])
df.iloc[0]

device_aid       0001f145-6b4d-4636-a108-a26abc35b220
date                                       2023-05-30
dur                                        180.366667
year                                             2023
week                                               22
weekday                                             1
osm_id                                   1720944485.0
label                                        Historic
h3_id                                 881f8c9a67fffff
month                                               5
d_h                                          29.30519
grdi                                         3.674207
net_rent_100m                                     8.0
wt_p                                         5.615385
Name: 0, dtype: object

## 2. Auxiliary data
### 2.1 Precipitation

In [7]:
df_p = pd.read_sql("""SELECT station_id, date, "RS" AS precipitation FROM precipitation.daily;""", con=engine)
df_poi2p = pd.read_sql("""SELECT osm_id, station_id FROM precipitation.poi_station;""", con=engine)
df_p.head()

   station_id      date  precipitation
0           6  20190501            0.0
1           6  20190502            3.4
2           6  20190503            1.6
3           6  20190504            7.0
4           6  20190505            0.0

In [8]:
df_p.loc[:, 'date_time'] = pd.to_datetime(df_p['date'].astype(str), format='%Y%m%d')

### 2.2 PT access

In [9]:
df_pt = pd.read_sql("""SELECT osm_id, pt_station_num FROM public_transport.poi_pt_station;""", con=engine)

### 2.3 National holiday

In [10]:
holidays = [np.datetime64(pd.to_datetime(x, format='%Y%m%d')) 
            for x in [20190501, 20190530, 20190610, 
                      20220415, 20220418, 20220501, 20220526, 20220606, 
                      20220407, 20220410, 20230501, 20230518, 20230529]]

## 3. Processing visitation data

In [25]:
# Time processing
df.loc[:, 'date_time'] = pd.to_datetime(df['date'].astype(str), format='%Y-%m-%d')
print(f'{len(df)} visits on {df.osm_id.nunique()} locations from {df.device_aid.nunique()} devices.')

# Filter out national holidays
df.loc[:, 'date_time'] = df.loc[~df['date_time'].isin(holidays), :]
print(f'After removing holidays, {len(df)} visits on {df.osm_id.nunique()} locations from {df.device_aid.nunique()} devices.')

# Add pt stations
df = pd.merge(df, df_pt, on='osm_id', how='left')
df.dropna(inplace=True)
df.drop_duplicates(subset=['device_aid', 'date', 'dur', 'osm_id'], inplace=True)
print(f'After adding public stops, {len(df)} visits on {df.osm_id.nunique()} locations from {df.device_aid.nunique()} devices.')

328877 visits on 60887 locations from 7648 devices.
After removing holidays, 328877 visits on 60887 locations from 7648 devices.
After adding public stops, 314134 visits on 60328 locations from 7646 devices.

In [17]:
df.head()

,device_aid,date,dur,year,week,weekday,osm_id,label,wt_p,theme,month,period,d_h,date_time,pt_station_num
0,001f24b1-26df-4949-a61c-abef1185ea8f,2022-06-20,179.983333,2022,25,0,404916112.0,Restaurant,5.666667,Food & Beverage,6,1,0.053544,2022-06-20,8
1,001f24b1-26df-4949-a61c-abef1185ea8f,2022-07-11,179.983333,2022,28,0,404916112.0,Restaurant,5.666667,Food & Beverage,7,1,0.053544,2022-07-11,8
2,001f24b1-26df-4949-a61c-abef1185ea8f,2022-07-14,186.333333,2022,28,3,695230966.0,Accomodations,5.666667,Outdoor & Recreational areas,7,1,121.309082,2022-07-14,48
3,001f24b1-26df-4949-a61c-abef1185ea8f,2022-07-16,181.583333,2022,28,5,404057116.0,Place of worship,5.666667,Community & Social Services,7,1,3.160769,2022-07-16,16
4,001f24b1-26df-4949-a61c-abef1185ea8f,2022-07-23,180.150000,2022,29,5,404973915.0,Supermarket,5.666667,Food & Beverage,7,1,0.836989,2022-07-23,15

In [41]:
# Add precipitation information
df_rain = df.drop_duplicates(subset=['date_time', 'osm_id'])[['date_time', 'osm_id']]
print(f'For precipitation data: {len(df_rain)} pairs on {df_rain.osm_id.nunique()} locations from {df_rain.date_time.nunique()} days.')

For precipitation data: 223456 pairs on 60328 locations from 450 days.

In [42]:
df_rain = pd.merge(df_rain, df_poi2p, on='osm_id', how='left')
df_rain.loc[:, 'station_id'] = df_rain.loc[:, 'station_id'].apply(lambda x: [int(j) for j in x.split(',') if j != ''])
df_rain.head()

   date_time       osm_id                                         station_id
0 2022-06-20  404916112.0  [15523, 2249, 3939, 15156, 14028, 1251, 14304,...
1 2022-07-11  404916112.0  [15523, 2249, 3939, 15156, 14028, 1251, 14304,...
2 2022-07-14  695230966.0  [14043, 14079, 14032, 14049, 19100, 161, 13691...
3 2022-07-16  404057116.0  [2249, 15523, 3939, 15156, 1251, 19244, 14028,...
4 2022-07-23  404973915.0  [2249, 3939, 15156, 1251, 14304, 19244, 13778,...

In [56]:
df_rec_list = []
for i in tqdm(range(0, 15), desc='Searching for precipitation'):
    df_rain.loc[:, 'station'] = df_rain.loc[:, 'station_id'].apply(lambda x: x[i] if len(x) > i else None)
    df_rec = pd.merge(df_rain[['date_time', 'osm_id', 'station']],
                      df_p[['date_time', 'station_id', 'precipitation']].rename(columns={'station_id': 'station'}),
                      on=['station', 'date_time'], how='left')
    df_rec.dropna(inplace=True)
    df_rec_list.append(df_rec)

Searching for precipitation: 100%|██████████| 15/15 [00:04<00:00,  3.71it/s]

In [58]:
df_rec = pd.concat(df_rec_list)
df_rec.drop_duplicates(subset=['date_time', 'osm_id'], keep='first', inplace=True)
print(f'For precipitation data: {len(df_rec)/len(df_rain)*100} % have records.')

For precipitation data: 98.34445016054354 % have records.

In [59]:
df_rec.head()

   date_time       osm_id  station  precipitation
3 2022-07-16  404057116.0   2249.0            0.0
4 2022-07-23  404973915.0   2249.0            0.1
5 2022-08-06  404973915.0   2249.0            0.0
8 2022-08-13  404974714.0   2249.0            0.0
9 2022-08-16  404973915.0   2249.0            0.0

In [60]:
# Add precipitation
df = pd.merge(df, df_rec[['osm_id', 'date_time', 'precipitation']], on=['osm_id', 'date_time'], how='left')
df.dropna(inplace=True)
df.drop_duplicates(subset=['device_aid', 'date', 'dur', 'osm_id'], inplace=True)
print(f'After adding precipitation, {len(df)} visits on {df.osm_id.nunique()} locations from {df.device_aid.nunique()} devices.')

After adding precipitation, 311700 visits on 59814 locations from 7638 devices.

## 4. Scale up the processing

In [11]:
df_d2f = pd.read_sql("""SELECT device_aid, station_id AS station_id_f FROM fuel_station WHERE station_num > 0;""", con=engine)
df_fp = pd.read_sql("""
    SELECT 
        station_uuid AS station_f, 
        date, 
        CASE 
            WHEN e5 IS NULL THEN e10
            WHEN e10 IS NULL THEN e5
            ELSE (e5 + e10) / 2.0 
        END AS ef
    FROM fuel_station_price;
""", con=engine)
df_fp.loc[:, 'date_time'] = pd.to_datetime(df_fp['date'].astype(str), format='%Y-%m-%d')

In [22]:
def visitation_enrichment(data=None):
    # Time processing
    data.loc[:, 'date_time'] = pd.to_datetime(data['date'].astype(str), format='%Y-%m-%d')
    #print(f'{len(data)} visits on {data.osm_id.nunique()} locations from {data.device_aid.nunique()} devices.')

    # Filter out national holidays
    data.loc[:, 'date_time'] = data.loc[~data['date_time'].isin(holidays), :]
    #print(f'After removing holidays, {len(data)} visits on {data.osm_id.nunique()} locations from {data.device_aid.nunique()} devices.')
    
    # Add pt stations
    data = pd.merge(data, df_pt, on='osm_id', how='left')
    data.dropna(inplace=True)
    data.drop_duplicates(subset=['device_aid', 'date', 'dur', 'osm_id'], inplace=True)
    #print(f'After adding public stops, {len(data)} visits on {data.osm_id.nunique()} locations from {data.device_aid.nunique()} devices.')
    
    # Add precipitation information
    df_rain = data.drop_duplicates(subset=['date_time', 'osm_id'])[['date_time', 'osm_id']]
    #print(f'For precipitation data: {len(df_rain)} pairs on {df_rain.osm_id.nunique()} locations from {df_rain.date_time.nunique()} days.')
    df_rain = pd.merge(df_rain, df_poi2p, on='osm_id', how='left')
    df_rain.loc[:, 'station_id'] = df_rain.loc[:, 'station_id'].apply(lambda x: [int(j) for j in x.split(',') if j != ''])
    
    df_rec_list = []
    for i in range(0, 15):
        df_rain.loc[:, 'station'] = df_rain.loc[:, 'station_id'].apply(lambda x: x[i] if len(x) > i else None)
        df_rec = pd.merge(df_rain[['date_time', 'osm_id', 'station']],
                          df_p[['date_time', 'station_id', 'precipitation']].rename(columns={'station_id': 'station'}),
                          on=['station', 'date_time'], how='left')
        df_rec.dropna(inplace=True)
        df_rec_list.append(df_rec)
    df_rec = pd.concat(df_rec_list)
    df_rec.drop_duplicates(subset=['date_time', 'osm_id'], keep='first', inplace=True)
    #print(f'For precipitation data: {len(df_rec)/len(df_rain)*100} % have records.')
    # Add precipitation
    data = pd.merge(data, df_rec[['osm_id', 'date_time', 'precipitation']], on=['osm_id', 'date_time'], how='left')
    data.dropna(inplace=True)
    
    # Add fuel price information
    df_fuel = data.drop_duplicates(subset=['date_time', 'device_aid'])[['date_time', 'device_aid']]
    df_fuel = pd.merge(df_fuel, df_d2f, on='device_aid', how='left')
    df_fuel.dropna(inplace=True)
    df_fuel.loc[:, 'station_id_f'] = df_fuel.loc[:, 'station_id_f'].apply(lambda x: [j for j in x.split(',') if j != ''])

    df_rec_list = []
    for i in range(0, 5):
        df_fuel.loc[:, 'station_f'] = df_fuel.loc[:, 'station_id_f'].apply(lambda x: x[i] if len(x) > i else None)
        df_rec_f = pd.merge(df_fuel[['date_time', 'device_aid', 'station_f']],
                          df_fp[['date_time', 'station_f', 'ef']],
                          on=['date_time', 'station_f'], how='left')
        df_rec_f.dropna(inplace=True)
        df_rec_list.append(df_rec_f)
    df_rec_f = pd.concat(df_rec_list)
    df_rec_f.drop_duplicates(subset=['date_time', 'device_aid'], keep='first', inplace=True)

    median_ef = df_rec_f[['device_aid', 'date_time', 'ef']].groupby('date_time')['ef'].median().reset_index()
    median_ef_s = df_rec_f['ef'].median()
    data = pd.merge(data, df_rec_f[['device_aid', 'date_time', 'ef']], on=['device_aid', 'date_time'], how='left')
    # Merge the median values into the main data
    data = pd.merge(data, median_ef, on='date_time', how='left', suffixes=('', '_median'))

    # Fill NaN values in 'ef' with the median values
    data['ef'] = data['ef'].fillna(data['ef_median'])
    data['ef'] = data['ef'].fillna(median_ef_s)
    # Drop the temporary 'ef_median' column if no longer needed
    data = data.drop(columns=['ef_median'])
    data.drop_duplicates(subset=['device_aid', 'date', 'dur', 'osm_id'], inplace=True)
    data.dropna(inplace=True)
    return data, list(data.osm_id.unique()), data.device_aid.nunique(), len(data)

In [25]:
osm_id_list = []
devices_count = 0
visits_count = 0
upper_reso = 3
for k, v in tqdm(paths2stops.items(), desc='Processing batches'):
    df = pd.read_parquet(v)
    df_processed, osms, no_devices, no_visits = visitation_enrichment(data=df)
    osm_id_list += osms
    devices_count += no_devices
    visits_count += no_visits
    df_processed.loc[:, f'h3_parent_{upper_reso}'] = df_processed['h3_id'].apply(lambda x: h3.cell_to_parent(x, upper_reso))
    df_processed.to_parquet(f'dbs/combined_hex2visits_day_did/stops_{k}.parquet', index=False)
osm_id_list = list(set(osm_id_list))

Processing batches: 100%|██████████| 300/300 [6:32:26<00:00, 78.49s/it]

In [26]:
print(f"In total, {visits_count} visits to {len(osm_id_list)} unique locations from {devices_count} devices are stored.")

In total, 420540112 visits to 798068 unique locations from 22138925 devices are stored.

### 4.1 Re-group hexagon results

In [10]:
data_folder = os.path.join('dbs/combined_hex2visits_day_did/')
paths2stops = {int(x.split('_')[-1].split('.')[0]): os.path.join(data_folder, x)\
               for x in list(os.walk(data_folder))[0][2]}
paths2stops_list = list(paths2stops.values())
paths2stops_list[0]

'dbs/combined_hex2visits_day_did/stops_0.parquet'

In [11]:
for n in (0, 1, 2):
    df = pd.concat([pd.read_parquet(file) for file in tqdm(paths2stops_list[n*100 : (n+1)*100])], ignore_index=True)
    def save_g(group):
        group.to_parquet(os.path.join(f'dbs/combined_hex2visits_day_did_g/h_{group.name}_{n}.parquet'), index=False)
    tqdm.pandas()
    df.groupby('h3_parent_3').progress_apply(save_g, include_groups=False)
    del df

100%|██████████| 100/100 [01:20<00:00,  1.24it/s]
100%|██████████| 49/49 [02:31<00:00,  3.10s/it]
100%|██████████| 100/100 [01:19<00:00,  1.25it/s]
100%|██████████| 49/49 [02:33<00:00,  3.14s/it]
100%|██████████| 100/100 [01:19<00:00,  1.26it/s]
100%|██████████| 49/49 [02:33<00:00,  3.13s/it]

In [12]:
data_folder = os.path.join('dbs/combined_hex2visits_day_did_g/')
h3_parent_list = list(set([x.split('_')[1] for x in list(os.walk(data_folder))[0][2]]))
h3_parent_list[0]

'831f33fffffffff'

In [13]:
for h3_p in tqdm(h3_parent_list, desc='Merging h3 parent grid'):
    h3_parent_files = [f"dbs/combined_hex2visits_day_did_g/h_{x}_{y}.parquet" 
                       for x, y in zip([h3_p]*3, [0, 1, 2])]
    df = pd.concat([pd.read_parquet(file) for file in h3_parent_files], ignore_index=True)
    df.to_parquet(os.path.join(f'dbs/combined_hex2visits_day_did_g/h_{h3_p}.parquet'), index=False)

Merging h3 parent grid: 100%|██████████| 49/49 [09:03<00:00, 11.09s/it]

In [14]:
h3_parent_files = []
for h3_p in h3_parent_list:
    h3_parent_files += [f"dbs/combined_hex2visits_day_did_g/h_{x}_{y}.parquet" 
                        for x, y in zip([h3_p]*3, [0, 1, 2])]
h3_parent_files[:4]

['dbs/combined_hex2visits_day_did_g/h_831f33fffffffff_0.parquet',
 'dbs/combined_hex2visits_day_did_g/h_831f33fffffffff_1.parquet',
 'dbs/combined_hex2visits_day_did_g/h_831f33fffffffff_2.parquet',
 'dbs/combined_hex2visits_day_did_g/h_831f12fffffffff_0.parquet']

In [15]:
for ele in h3_parent_files:
    os.remove(ele)

In [16]:
df.head()

,device_aid,date,dur,year,week,weekday,osm_id,label,h3_id,month,d_h,grdi,net_rent_100m,wt_p,date_time,pt_station_num,precipitation,ef
0,001b037a-e3d0-43b5-9834-3f70d0091040,2022-04-08,179.983333,2022,14,4,7.679555e+08,Services & Repairs,881f1b3ac7fffff,4,278.223005,51.719220,5.0,6.694444,2022-04-08,49.0,0.1,1.986182
1,00279b2c-4936-4144-9ff0-dc1b10c643cd,2023-06-22,179.983333,2023,25,3,8.405850e+08,Automotive and services,881f1b54d1fffff,6,464.261683,3.109857,7.0,2.133971,2023-06-22,14.0,30.1,1.785800
2,002edae9-066e-433e-abc6-ab84ac6bfea0,2023-07-09,55.616667,2023,27,6,2.063423e+08,Retail stores,881f1b2199fffff,7,17.880314,53.678440,6.0,1.830189,2023-07-09,14.0,0.6,1.846143
3,002edae9-066e-433e-abc6-ab84ac6bfea0,2023-07-11,25.350000,2023,28,1,2.041659e+08,Place of worship,881f1b24a7fffff,7,1.160463,53.678440,6.0,1.830189,2023-07-11,13.0,5.6,1.847667
4,002edae9-066e-433e-abc6-ab84ac6bfea0,2023-07-11,43.283333,2023,28,1,1.258048e+09,Restaurant,881f1b24a7fffff,7,0.917054,53.678440,6.0,1.830189,2023-07-11,18.0,5.6,1.847667

## 5. Daily visitation calculation - POI level
This part of the results work for the DiD prototypes/time-shifted DiD models.

In [5]:
data_folder = os.path.join('dbs/combined_poi2visits_day_did/')
paths2stops = {int(x.split('_')[-1].split('.')[0]): os.path.join(data_folder, x)\
               for x in list(os.walk(data_folder))[0][2]}
paths2stops_list = paths2stops.values()
df = spark.read.parquet(*paths2stops_list)
df.show(5)

+--------------------+----------+------------------+----+----+-------+-------------+--------------------+--------------------+-----+------+------------------+------------------+--------+-------------------+--------------+-------------+
|          device_aid|      date|               dur|year|week|weekday|       osm_id|               label|               theme|month|period|               d_h|              wt_p|grdi_grp|          date_time|pt_station_num|precipitation|
+--------------------+----------+------------------+----+----+-------+-------------+--------------------+--------------------+-----+------+------------------+------------------+--------+-------------------+--------------+-------------+
|0002163c-296a-496...|2019-07-07| 88.71666666666667|2019|  27|      6|  3.5671127E7|          Restaurant|     Food & Beverage|    7|     1|  313.010010421712|0.0054367575515999|       M|2019-07-07 00:00:00|            32|          0.6|
|0002163c-296a-496...|2019-07-07|             154.8|2019|  27|      6|2.110965181E9|        Water Sports|        Water Sports|    7|     1|266.62129846499823|0.0054367575515999|       M|2019-07-07 00:00:00|             7|          0.0|
|0002163c-296a-496...|2019-08-24|              72.5|2019|  34|      5|1.751696642E9|       Art & Culture|       Art & Culture|    8|     1| 314.6575950566175|0.0054367575515999|       M|2019-08-24 00:00:00|            48|          0.0|
|00036691-1059-40c...|2022-02-14|179.98333333333332|2022|   7|      0|  2.7624612E8|   Social facilities|Community & Socia...|    2|     0| 144.3735618809815|1.9880239520958083|       M|2022-02-14 00:00:00|            35|          0.2|
|0003d3b2-9e88-42c...|2019-06-21|184.91666666666666|2019|  25|      4|  2.6725363E8|Recreation & Spor...|Recreation & Spor...|    6|     1| 41.82862243586679|0.6928071928071928|       M|2019-06-21 00:00:00|            29|          0.0|
+--------------------+----------+------------------+----+----+-------+-------------+--------------------+--------------------+-----+------+------------------+------------------+--------+-------------------+--------------+-------------+

In [6]:
df_cat = pd.read_excel('dbs/poi/categories.xlsx').rename(columns={'category': 'theme', 'subcategory': 'label'})
label_list = df_cat['label'].unique()

In [7]:
def ice(ai=None, bi=None, popi=None, share_a=0.25, share_b=0.25):
    oi = popi - ai - bi
    share_o = 1 - share_a - share_b
    return (ai / share_a - bi / share_b) / (ai / share_a + bi / share_b + oi / share_o)


def visit_patterns(data):
    data.loc[:, 'date'] = data.loc[:, 'date'].astype(str)
    metrics_dict = dict()
    # osm_id info
    for var in ('osm_id', 'date', 'year', 'month', 'weekday', 'theme', 'label', 'precipitation', 'pt_station_num'):
        metrics_dict[var] = data[var].values[0]
    # Visits
    metrics_dict['num_visits_wt'] = data['wt_p'].sum()
    metrics_dict['num_unique_device'] = data.device_aid.nunique()
    # Duration
    metrics_dict['dur_total_wt'] = sum(data['dur'] * data['wt_p'])  # min

    # Distance from home
    ## Weighted percentiles
    d, wt = data.loc[data['d_h'] > 0, 'd_h'], data.loc[data['d_h'] > 0, 'wt_p']
    wdf = DescrStatsW(d, weights=wt, ddof=1)
    sts = wdf.quantile([0.25, 0.5, 0.75])
    bds = sts.values
    metrics_dict['d_h25_wt'], metrics_dict['d_h50_wt'], metrics_dict['d_h75_wt'] = bds[0], bds[1], bds[2]

    # Segregation metric
    pop = np.sum(data.wt_p)
    a = np.sum(data.loc[data.grdi_grp == 'H', 'wt_p'])
    b = np.sum(data.loc[data.grdi_grp == 'L', 'wt_p'])
    metrics_dict['ice'] = ice(ai=a, bi=b, popi=pop, share_a=0.25, share_b=0.25)
    metrics_dict['H'], metrics_dict['L'], metrics_dict['M'] = a / pop, b / pop, (pop - a - b) / pop

    ## weighted average
    d_lg = d.apply(lambda x: np.log10(x))
    metrics_dict['d_ha_wt'] = 10 ** np.average(d_lg, weights=wt)
    return pd.DataFrame(metrics_dict, index=[0])  # pd.DataFrame(metrics_dict, index=[0])


## Find visitation stats
schema_stats = StructType([
    StructField('osm_id', IntegerType(), True),
    StructField("date", StringType(), True),
    StructField("year", IntegerType(), True),
    StructField("month", IntegerType(), True),
    StructField("weekday", IntegerType(), True),
    StructField("theme", StringType(), True),
    StructField("label", StringType(), True),
    StructField("pt_station_num", IntegerType(), True),
    StructField("precipitation", DoubleType(), True),
    StructField("ice", DoubleType(), True),
    StructField("num_visits_wt", DoubleType(), True),
    StructField("num_unique_device", IntegerType(), True),
    StructField('dur_total_wt', DoubleType(), True),
    StructField('H', DoubleType(), True),
    StructField('M', DoubleType(), True),
    StructField('L', DoubleType(), True),
    StructField('d_h25_wt', DoubleType(), True),
    StructField('d_h50_wt', DoubleType(), True),
    StructField('d_h75_wt', DoubleType(), True),
    StructField('d_ha_wt', DoubleType(), True)
])

In [8]:
lbs2include = ['Restaurant', 'Accomodations', 'Historic', 'Retail stores', 'Pub', 'Recreation & Sports Centres',
               'Café', 'Recreational facilities', 'Information and services', 'Community center', 'Fashion and clothing',
               'Home & Lifestyle', 'Art & Culture', 'Technology & Hobbies', 'Nightclub', 'Tourist attractions', 'Wellness & Relaxation', 'Training center', 'Water Sports', 'Wellness and fitness', 'Entertainment venues', 'Viewing and observation', 'Parks and gardens']

In [9]:
for lb in lbs2include:
    start = time.time()
    df_v = df.filter(df.label == lb).\
        groupby(['osm_id', 'date_time']).applyInPandas(visit_patterns, schema=schema_stats)
    df_v.toPandas().to_parquet(f"dbs/combined_visits_day_did/{lb}.parquet", index=False)
    delta_t = (time.time() - start) // 60
    print(f"Label {lb} processed and saved in {delta_t} minutes.")

Label Restaurant processed and saved in 196.0 minutes.
Label Accomodations processed and saved in 89.0 minutes.
Label Historic processed and saved in 174.0 minutes.
Label Retail stores processed and saved in 123.0 minutes.
Label Pub processed and saved in 57.0 minutes.
Label Recreation & Sports Centres processed and saved in 129.0 minutes.
Label Café processed and saved in 50.0 minutes.
Label Recreational facilities processed and saved in 64.0 minutes.
Label Information and services processed and saved in 88.0 minutes.
Label Community center processed and saved in 50.0 minutes.
Label Fashion and clothing processed and saved in 49.0 minutes.
Label Home & Lifestyle processed and saved in 60.0 minutes.
Label Art & Culture processed and saved in 33.0 minutes.
Label Technology & Hobbies processed and saved in 28.0 minutes.
Label Nightclub processed and saved in 11.0 minutes.
Label Tourist attractions processed and saved in 19.0 minutes.
Label Wellness & Relaxation processed and saved in 12.0 minutes.
Label Training center processed and saved in 10.0 minutes.
Label Water Sports processed and saved in 16.0 minutes.
Label Wellness and fitness processed and saved in 4.0 minutes.
Label Entertainment venues processed and saved in 5.0 minutes.
Label Viewing and observation processed and saved in 14.0 minutes.
Label Parks and gardens processed and saved in 4.0 minutes.

## 6. Individual information enrichment (Hex)
Existing: grdi, wt_p
To add: pop_100m, age_100m, net_rent_100m, foreign_share_100m*
*Needs to extract from external file, not in the database.

In [5]:
data_folder = os.path.join('dbs/combined_hex2visits_day_did_g/')
h3_parent_list = [data_folder + x for x in list(os.walk(data_folder))[0][2]]
h3_parent_list[0]

'dbs/combined_hex2visits_day_did_g/h_831e26fffffffff.parquet'

In [6]:
df = pd.read_parquet(h3_parent_list[0])
df.head()

,device_aid,date,dur,year,week,weekday,osm_id,label,h3_id,month,d_h,grdi,wt_p,date_time,pt_station_num,precipitation
0,002edae9-066e-433e-abc6-ab84ac6bfea0,2023-06-24,25.316667,2023,25,5,1.399326e+08,Place of worship,881e26516dfffff,6,4.582549,53.678440,1.830189,2023-06-24,16.0,0.0
1,002edae9-066e-433e-abc6-ab84ac6bfea0,2023-06-26,15.200000,2023,26,0,2.445813e+08,Recreation & Sports Centres,881e26516dfffff,6,4.470687,53.678440,1.830189,2023-06-26,18.0,8.2
2,032451bf-75cb-41fd-86eb-aa229c29a6d5,2022-07-12,181.266667,2022,28,1,6.599169e+08,Recreation & Sports Centres,881e265367fffff,7,39.338483,4.432603,6.326923,2022-07-12,16.0,0.0
3,032451bf-75cb-41fd-86eb-aa229c29a6d5,2022-07-18,32.016667,2022,29,0,5.244312e+08,Historic,881e265325fffff,7,39.823736,4.432603,6.326923,2022-07-18,41.0,0.0
4,03ba137f-a929-4642-9d87-ee244a8a53e0,2022-05-15,179.983333,2022,19,6,1.846604e+09,Retail stores,881e26c99dfffff,5,326.598808,28.420818,0.111111,2022-05-15,6.0,0.0

### 6.1 Load individual data

In [92]:
df_h = pd.read_sql("""SELECT device_aid, pop_100m, pop_1km, age_100m, net_rent_100m, grdi FROM home_g;""", con=engine)
df_hc = pd.read_sql("""SELECT device_aid, latitude, longitude FROM home;""", con=engine)
df_h = pd.merge(df_h, df_hc, on='device_aid', how='left')
del df_hc

In [93]:
gdf_h = workers.df2gdf_point(df=df_h, x_field='longitude', y_field='latitude', crs=4326, drop=True).to_crs(3035)
gdf_h.head()

,device_aid,pop_100m,pop_1km,age_100m,net_rent_100m,grdi,geometry
0,0001bdf7-7bf9-6a62-2c06-a917b712bba6,NaN,4137.0,NaN,NaN,3.717312,POINT (4542760.931 3260187.060)
1,0001f145-6b4d-4636-a108-a26abc35b220,150.0,1460.0,48.0,8.0,3.674207,POINT (4266088.451 2843906.305)
2,00020451-44b2-446a-95d7-27a31353eb42,8.0,4350.0,36.0,NaN,2.557653,POINT (4472611.283 2878411.837)
3,0003d043-ca49-6006-118d-ba3728007640,NaN,13.0,NaN,NaN,5.710885,POINT (4086760.197 3091372.539)
4,00045286-8ea8-49f1-92fd-92e75af34455,49.0,3589.0,48.0,6.0,3.672956,POINT (4062998.046 3113778.668)

Add foreign info.

In [ ]:
df_c = pd.read_csv('dbs/geo/census_2022/Auslaenderanteil_in_Gitterzellen/Zensus2022_Anteil_Auslaender_100m-Gitter.csv',
                   sep=';', encoding='utf-8')
df_c.columns = ['grid', 'x_mp_100m', 'y_mp_100m', 'f_share', 'un']
df_c = df_c[['grid', 'x_mp_100m', 'y_mp_100m', 'f_share']]
df_c['f_share'] = df_c['f_share'].replace('–', 0)  # Replace '–' with NaN
df_c.loc[:, 'f_share'] = df_c.loc[:, 'f_share'].str.replace(',', '.').astype(float)
df_c.fillna(0, inplace=True)
# Apply function to create geometry column
df_c['geometry'] = df_c.apply(lambda row: workers.create_square(row['x_mp_100m'], row['y_mp_100m']), axis=1)
# Convert to GeoDataFrame
gdf_c = gpd.GeoDataFrame(df_c, geometry='geometry', crs="EPSG:3035")

In [94]:
gdf_h = gdf_h.sjoin(gdf_c[['f_share', 'geometry']], how='left')
len(gdf_h)

22741786

In [95]:
gdf_h.drop(columns=['index_right'], inplace=True)

In [ ]:
df_w = pd.read_sql("""SELECT * FROM weight;""", con=engine)

In [96]:
gdf_h = pd.merge(gdf_h, df_w, on='device_aid', how='left')

In [97]:
var_stats_list = []
for var in ['pop_100m', 'pop_1km', 'age_100m', 'net_rent_100m', 'f_share', 'grdi']:
    ## Weighted percentiles
    na_l = len(gdf_h.loc[gdf_h[var].isna(), [var]])
    data = gdf_h.loc[~gdf_h[var].isna(), [var, 'wt_p']].copy()
    d, wt = data[var], data['wt_p']
    wdf = DescrStatsW(d, weights=wt, ddof=1)
    sts = wdf.quantile([0.25, 0.5, 0.75])
    bds = sts.values
    var_stats_list.append((var, na_l, bds[0], bds[1], bds[2]))
df_var_stats = pd.DataFrame(var_stats_list, columns=['var', 'missing', 'q25', 'q50', 'q75'])

In [98]:
df_var_stats

             var  missing         q25          q50         q75
0       pop_100m  5618795   24.000000    46.000000    93.00000
1        pop_1km   303347  742.000000  2007.000000  4148.00000
2       age_100m  5618796   38.000000    42.000000    48.00000
3  net_rent_100m  9106688    5.000000     6.000000     8.00000
4        f_share  5618795    0.000000     8.700000    22.06000
5           grdi        0    3.374868     9.876637    29.29395

In [99]:
for var, cat in tqdm(zip(['pop_1km', 'age_100m', 'net_rent_100m', 'f_share', 'grdi'],
                    ['pop_density', 'age', 'net_rent', 'birth_f', 'deprivation'])):
    grp_b = df_var_stats.loc[df_var_stats['var'] == var, ['q25', 'q50', 'q75']].values[0].tolist()
    if var != 'f_share':
        grp_b = sorted([gdf_h[var].min()-1] + grp_b + [gdf_h[var].max()+1])  # Full range
        labels=["q1", "q2", "q3", 'q4']
    else:
        grp_b = sorted([-1, 8.7, 22.06, 101])  # Full range
        labels=["q12", "q3", 'q4']
    p1 = gdf_h.loc[~gdf_h[var].isna(), :]
    p2 = gdf_h.loc[gdf_h[var].isna(), :]
    p1[cat] = pd.cut(p1[var], grp_b, labels=labels)
    p2[cat] = 'na'
    gdf_h = pd.concat([p1, p2])
gdf_h.head()

0it [00:00, ?it/s]C:\ProgramData\anaconda3\envs\geoenv\lib\site-packages\geopandas\geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
C:\ProgramData\anaconda3\envs\geoenv\lib\site-packages\geopandas\geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
1it [00:16, 16.65s/it]C:\ProgramData\anaconda3\envs\geoenv\lib\site-packages\geopandas\geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
C:\ProgramData\anaconda3\envs\geoenv\lib\site-packages\geopandas\geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
2it [00:25, 11.86s/it]C:\ProgramData\anaconda3\envs\geoenv\lib\site-packages\geopandas\geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
C:\ProgramData\anaconda3\envs\geoenv\lib\site-packages\geopandas\geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
3it [00:34, 10.88s/it]C:\ProgramData\anaconda3\envs\geoenv\lib\site-packages\geopandas\geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
C:\ProgramData\anaconda3\envs\geoenv\lib\site-packages\geopandas\geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
5it [00:55, 11.14s/it]

,device_aid,pop_100m,pop_1km,age_100m,net_rent_100m,grdi,geometry,f_share,wt_p,pop_density,age,net_rent,birth_f,deprivation
1,0001f145-6b4d-4636-a108-a26abc35b220,150.0,1460.0,48.0,8.0,3.674207,POINT (4266088.451 2843906.305),25.33,5.615385,q2,q3,q3,q4,q2
4,00045286-8ea8-49f1-92fd-92e75af34455,49.0,3589.0,48.0,6.0,3.672956,POINT (4062998.046 3113778.668),0.00,1.400859,q3,q3,q2,q12,q2
5,0004ce43-5bbd-4ff6-a36c-559870df365d,33.0,1298.0,45.0,6.0,20.282982,POINT (4106533.302 2915825.518),0.00,0.375687,q2,q3,q2,q12,q3
6,00054747-ebe9-4dbe-8942-807328e26e3b,124.0,2146.0,36.0,7.0,3.684241,POINT (4268041.138 2856522.009),62.10,5.405542,q3,q1,q3,q4,q2
7,000554fc-73d6-4ff4-91d1-659db57d8f87,115.0,2351.0,34.0,9.0,3.069505,POINT (4214008.993 2999351.779),42.61,3.684953,q3,q1,q4,q4,q1

In [101]:
gdf_h[['device_aid', 'f_share', 'wt_p', 'pop_density', 
       'age', 'net_rent', 'birth_f', 'deprivation']].to_sql(f'device_grp', engine, index=False, 
                                                            if_exists='replace', method='multi', chunksize=5000)

22960172

## 7. Daily visitation calculation - hex x device group

In [5]:
df_ind = pd.read_sql("""SELECT * FROM device_grp;""", con=engine)

In [6]:
data_folder = os.path.join('dbs/combined_hex2visits_day_did_g/')
hex_file_list = [data_folder + x for x in list(os.walk(data_folder))[0][2]]
hex_file_list[0]

'dbs/combined_hex2visits_day_did_g/h_831e26fffffffff.parquet'

In [25]:
def visit_patterns_hex(data):
    data.loc[:, 'date'] = data.loc[:, 'date'].astype(str)
    metrics_dict = dict()
    # osm_id info
    for var in ('year', 'month', 'weekday'):
        metrics_dict[var] = data[var].values[0]
    # Spatial characteristics
    for var in ('precipitation', 'pt_station_num'):
        metrics_dict[var] = np.average(data[var], weights=data['wt_p'])
    # Visits
    metrics_dict['num_visits_wt'] = data['wt_p'].sum()
    metrics_dict['num_unique_device'] = data.device_aid.nunique()

    # Individuals in the origins
    metrics_dict['f_share'] = np.average(data.loc[~data['f_share'].isna(), 'f_share'], 
                                         weights=data.loc[~data['f_share'].isna(), 'wt_p'])
    metrics_dict['grdi'] = np.average(data.loc[~data['grdi'].isna(), 'grdi'], 
                                         weights=data.loc[~data['grdi'].isna(), 'wt_p'])
    
    ## weighted average
    d, wt = data.loc[data['d_h'] > 0, 'd_h'], data.loc[data['d_h'] > 0, 'wt_p']
    d_lg = d.apply(lambda x: np.log10(x))
    metrics_dict['d_ha_wt'] = 10 ** np.average(d_lg, weights=wt)
    return pd.Series(metrics_dict)  # pd.DataFrame(metrics_dict, index=[0])

In [21]:
for f, i in zip(hex_file_list, range(1, len(hex_file_list) + 1)):
    print(f'File {i}/{len(hex_file_list)}...')
    df = pd.read_parquet(hex_file_list[0])
    df = pd.merge(df, df_ind.drop(columns=['wt_p']), on='device_aid', how='left')
    tqdm.pandas()
    df_v = df.groupby(['h3_id', 'date']).progress_apply(visit_patterns_hex).reset_index()
    df_v.loc[:, 'group'] = 'all'
    df_v.loc[:, 'level'] = 'all'
    df_v_list = [df_v]
    for v in ( 'pop_density', 'age', 'net_rent', 'birth_f', 'deprivation'):
        tqdm.pandas()
        df_v = df.groupby(['h3_id', 'date', v]).progress_apply(visit_patterns_hex).reset_index()
        df_v.rename(columns={v: 'level'}, inplace=True)
        df_v.loc[:, 'group'] = v
        df_v_list.append(df_v)

100%|██████████| 15105/15105 [00:39<00:00, 378.92it/s]