# Description of the applied data
Individual devices and places.

In [2]:
%load_ext autoreload
%autoreload 2
%cd D:\nine-euro-ticket-de

D:\nine-euro-ticket-de

In [97]:
# Load libs
import pandas as pd
import os
os.environ['USE_PYGEOS'] = '0'
import geopandas as gpd
from tqdm import tqdm
import workers
import tdid
import sqlalchemy
from scipy.stats import spearmanr
from sklearn.metrics import silhouette_score, calinski_harabasz_score, davies_bouldin_score

In [4]:
# Pyspark set up
os.environ['JAVA_HOME'] = "C:/Java/jdk-1.8"
from pyspark.sql import SparkSession
import sys
from pyspark import SparkConf
# Set up pyspark
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
# Create new context
spark_conf = SparkConf().setMaster("local[18]").setAppName("MobiSeg")
spark_conf.set("spark.executor.heartbeatInterval","3600s")
spark_conf.set("spark.network.timeout","7200s")
spark_conf.set("spark.sql.files.ignoreCorruptFiles","true")
spark_conf.set("spark.driver.memory", "56g")
spark_conf.set("spark.driver.maxResultSize", "0")
spark_conf.set("spark.executor.memory","8g")
spark_conf.set("spark.memory.fraction", "0.6")
spark_conf.set("spark.sql.session.timeZone", "UTC")
spark = SparkSession.builder.config(conf=spark_conf).getOrCreate()
java_version = spark._jvm.System.getProperty("java.version")
print(f"Java version used by PySpark: {java_version}")
print('Web UI:', spark.sparkContext.uiWebUrl)

Java version used by PySpark: 1.8.0_401
Web UI: http://C19YUEI.net.chalmers.se:4040

In [5]:
# Data location
user = workers.keys_manager['database']['user']
password = workers.keys_manager['database']['password']
port = workers.keys_manager['database']['port']
db_name = workers.keys_manager['database']['name']
engine = sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost:{port}/{db_name}?gssencmode=disable')

## 1. Individual devices (all)

In [4]:
df_ind = pd.read_sql("""SELECT device_aid, grid_1km, age_100m FROM home_g;""", con=engine)
df_wt = pd.read_sql("""SELECT * FROM weight;""", con=engine)
df_ind = pd.merge(df_wt, df_ind, on='device_aid', how='left')
df_ind = pd.merge(df_ind, pd.read_sql("""SELECT * FROM data_desc.stops_p_indi;""", con=engine), on='device_aid', how='left')

In [5]:
df_ind.head()

,device_aid,wt_p,grid_1km,age_100m,no_loc,no_active_days,no_rec,total_days
0,0001bdf7-7bf9-6a62-2c06-a917b712bba6,3.194595,CRS3035RES1000mN3260000E4542000,NaN,11.0,12.0,17.0,24.0
1,0001f145-6b4d-4636-a108-a26abc35b220,5.615385,CRS3035RES1000mN2843000E4266000,48.0,8.0,14.0,30.0,77.0
2,00020451-44b2-446a-95d7-27a31353eb42,1.294258,CRS3035RES1000mN2878000E4472000,36.0,42.0,67.0,137.0,579.0
3,0003d043-ca49-6006-118d-ba3728007640,0.866667,CRS3035RES1000mN3091000E4086000,NaN,24.0,33.0,91.0,75.0
4,00045286-8ea8-49f1-92fd-92e75af34455,1.400859,CRS3035RES1000mN3113000E4062000,48.0,8.0,8.0,55.0,19.0

In [6]:
print(f"In total, {df_ind['no_rec'].sum()} stops from {len(df_ind)} devices are stored.")

In total, 1814227793.0 stops from 22850604 devices are stored.

In [7]:
df_ind[['no_loc', 'no_active_days', 'no_rec']].describe()

             no_loc  no_active_days        no_rec
count  2.285060e+07    2.285060e+07  2.285060e+07
mean   1.857069e+01    3.813116e+01  7.939518e+01
std    1.642148e+01    3.768560e+01  1.183421e+02
min    3.000000e+00    8.000000e+00  8.000000e+00
25%    8.000000e+00    1.400000e+01  2.300000e+01
50%    1.400000e+01    2.400000e+01  4.200000e+01
75%    2.300000e+01    4.700000e+01  8.600000e+01
max    8.510000e+02    4.930000e+02  4.093000e+03

### 1.1 Individual devices of DT evaluation period

In [5]:
df_ind = pd.read_sql("""SELECT device_aid, grid_1km, age_100m FROM home_g;""", con=engine)
df_wt = pd.read_sql("""SELECT * FROM weight;""", con=engine)
df_ind = pd.merge(df_wt, df_ind, on='device_aid', how='left')
df_ind = pd.merge(df_ind,
                  pd.read_sql("""SELECT * FROM data_desc.stops_hex_indi_dt;""", con=engine),
                  on='device_aid', how='left')
df_ind.dropna(inplace=True)
print("No. of individual devices,", len(df_ind))

No. of individual devices, 11123092

In [7]:
df_ind['no_rec'].sum()

243029926.0

In [9]:
df_ind[['no_hex', 'no_active_days', 'no_rec']].describe()

             no_hex  no_active_days        no_rec
count  1.112309e+07    1.112309e+07  1.112309e+07
mean   7.271504e+00    1.281351e+01  2.184913e+01
std    6.334137e+00    1.300197e+01  3.141650e+01
min    1.000000e+00    1.000000e+00  1.000000e+00
25%    3.000000e+00    4.000000e+00  5.000000e+00
50%    6.000000e+00    9.000000e+00  1.200000e+01
75%    1.000000e+01    1.700000e+01  2.600000e+01
max    1.730000e+02    1.670000e+02  1.182000e+03

In [22]:
df_ind.to_parquet('dbs/devices/devices_dt.parquet', index=False)

## 2. Census data (2022)
Population count at 1 km resolution.

In [10]:
df_c = pd.read_csv('dbs/geo/census_2022/Zensus2022_Bevoelkerungszahl/Zensus2022_Bevoelkerungszahl_1km-Gitter.csv',
                   sep=';', encoding='latin-1')
df_c.columns = ['grid', 'x_mp_1km', 'y_mp_1km', 'pop']
df_c = df_c.rename(columns={'grid': 'grid_1km'})
df_c.head()

                          grid_1km  x_mp_1km  y_mp_1km  pop
0  CRS3035RES1000mN2689000E4337000   4337500   2689500    4
1  CRS3035RES1000mN2689000E4341000   4341500   2689500   11
2  CRS3035RES1000mN2690000E4341000   4341500   2690500    4
3  CRS3035RES1000mN2691000E4340000   4340500   2691500    3
4  CRS3035RES1000mN2691000E4341000   4341500   2691500   22

In [11]:
df_c['pop'].sum()

82706456

In [12]:
df_c.describe()

           x_mp_1km      y_mp_1km            pop
count  2.105560e+05  2.105560e+05  210556.000000
mean   4.330844e+06  3.099076e+06     392.800281
std    1.494704e+05  2.125058e+05    1027.856974
min    4.031500e+06  2.689500e+06       3.000000
25%    4.206500e+06  2.915500e+06      17.000000
50%    4.319500e+06  3.108500e+06      64.000000
75%    4.456500e+06  3.267500e+06     281.000000
max    4.671500e+06  3.547500e+06   24164.000000

## 3. Population representation

In [13]:
def rep_cal(data):
    device_count = len(data)
    device_pop = data['wt_p'].sum()
    return pd.Series(dict(device_count=device_count, device_pop=device_pop))

df_c = pd.merge(df_c, df_ind.groupby('grid_1km').apply(rep_cal, include_groups=False).reset_index(),
                on='grid_1km', how='left')
df_c.fillna(0, inplace=True)
df_c.head()

,grid_1km,x_mp_1km,y_mp_1km,pop,device_count,device_pop
0,CRS3035RES1000mN2689000E4337000,4337500,2689500,4,0.0,0.0
1,CRS3035RES1000mN2689000E4341000,4341500,2689500,11,0.0,0.0
2,CRS3035RES1000mN2690000E4341000,4341500,2690500,4,0.0,0.0
3,CRS3035RES1000mN2691000E4340000,4340500,2691500,3,0.0,0.0
4,CRS3035RES1000mN2691000E4341000,4341500,2691500,22,1.0,22.0

In [14]:
df_c.loc[:, 'ratio'] = df_c.loc[:, 'device_count'] / df_c['pop']
df_c.describe()

,x_mp_1km,y_mp_1km,pop,device_count,device_pop,ratio
count,2.105560e+05,2.105560e+05,210556.000000,210556.000000,210556.000000,210556.000000
mean,4.330844e+06,3.099076e+06,392.800281,52.827238,218.260081,0.073017
std,1.494704e+05,2.125058e+05,1027.856974,226.897924,638.835615,0.291460
min,4.031500e+06,2.689500e+06,3.000000,0.000000,0.000000,0.000000
25%,4.206500e+06,2.915500e+06,17.000000,0.000000,0.000000,0.000000
50%,4.319500e+06,3.108500e+06,64.000000,1.000000,12.000000,0.014815
75%,4.456500e+06,3.267500e+06,281.000000,20.000000,141.333333,0.083333
max,4.671500e+06,3.547500e+06,24164.000000,28073.000000,31801.794852,63.000000

### 3.1 Coverage

In [15]:
len(df_c[df_c['device_count'] > 0]) / len(df_c), df_c.loc[df_c['device_count'] > 0, 'pop'].sum() / df_c['pop'].sum()

(0.5494072835730162, 0.9657115280093733)

### 3.2 Correlation

In [16]:
# Calculate Spearman correlation
correlation, p_value = spearmanr(df_c['device_count'], df_c['pop'])

print("Spearman correlation:", correlation)
print("p-value:", p_value)

Spearman correlation: 0.8383212254299657
p-value: 0.0

In [17]:
# Apply function to create geometry column
df_c['geometry'] = df_c.apply(lambda row: workers.create_square(row['x_mp_1km'], row['y_mp_1km'], size=1000), axis=1)

# Convert to GeoDataFrame
gdf_c = gpd.GeoDataFrame(df_c, geometry='geometry', crs="EPSG:3035")
gdf_c.head()

,grid_1km,x_mp_1km,y_mp_1km,pop,device_count,device_pop,ratio,geometry
0,CRS3035RES1000mN2689000E4337000,4337500,2689500,4,0.0,0.0,0.000000,"POLYGON ((4337000 2689000, 4338000 2689000, 43..."
1,CRS3035RES1000mN2689000E4341000,4341500,2689500,11,0.0,0.0,0.000000,"POLYGON ((4341000 2689000, 4342000 2689000, 43..."
2,CRS3035RES1000mN2690000E4341000,4341500,2690500,4,0.0,0.0,0.000000,"POLYGON ((4341000 2690000, 4342000 2690000, 43..."
3,CRS3035RES1000mN2691000E4340000,4340500,2691500,3,0.0,0.0,0.000000,"POLYGON ((4340000 2691000, 4341000 2691000, 43..."
4,CRS3035RES1000mN2691000E4341000,4341500,2691500,22,1.0,22.0,0.045455,"POLYGON ((4341000 2691000, 4342000 2691000, 43..."

In [18]:
gdf_c.rename(columns={'device_count': 'd_count', 'device_pop': 'd_pop'}, inplace=True)

In [19]:
gdf_c.to_file('results/stats/pop_representation.shp')

Extra for data visualization

In [4]:
import h3
from tqdm import tqdm
res = 8

df_home = pd.read_sql("""SELECT device_aid, latitude, longitude FROM home;""", con=engine)
tqdm.pandas()
df_home['h3_id'] = df_home.progress_apply(lambda row: h3.geo_to_h3(row['latitude'], row['longitude'], resolution=res), axis=1)

100%|██████████| 23792532/23792532 [07:37<00:00, 52058.82it/s]

In [5]:
df_home.to_parquet('D:/map-challenge-2024/dbs/day13/device_home.parquet', index=False)

## 4. Hexagons included for analysis

In [6]:
# Load hexagons
data_folder = 'dbs/combined_did_data/'
grp, lv = 'all', 'all'
file2 = data_folder + f'h3_grids_dt_{grp}_{lv}_c.parquet'
df2 = pd.read_parquet(file2)
print(f"Number of unique hexagons for the DT: {df2['h3_id'].nunique()}")

Number of unique hexagons for the DT: 37802

In [7]:
df2 = tdid.place_filter_complete(data=df2, control_y=2022, treatment_y=2023, unit='h3')
print(f"Number of unique hexagons for the DT: {df2['h3_id'].nunique()}")

100%|██████████| 37802/37802 [00:42<00:00, 892.87it/s]
Complete searching: 100%|██████████| 37802/37802 [00:18<00:00, 2008.50it/s]

Number of unique hexagons for the DT: 37802

In [9]:
def hex_stats_ym(data):
    metrics = dict()
    metrics['num_zones'] = data['h3_id'].nunique()
    return pd.Series(metrics)

df_s2 = df2.groupby(['year', 'month']).apply(hex_stats_ym, include_groups=False).reset_index()
df_s2

     year  month  num_zones
0  2022.0    3.0      35511
1  2022.0    4.0      35080
2  2022.0    5.0      37627
3  2023.0    3.0      35511
4  2023.0    4.0      35080
5  2023.0    5.0      37627

In [ ]:
def assign_period(row):
    if row['year'] == 2022 and row['month'] in [3, 4]:
        return 1  # Mar-Apr 2022
    elif row['year'] == 2023 and row['month'] in [3, 4]:
        return 3  # Mar-Apr 2023
    elif row['year'] == 2022 and row['month'] == 5:
        return 2  # May 2022
    elif row['year'] == 2023 and row['month'] == 5:
        return 4  # May 2023
    return 0  # default, if any other combination

## 6. In-depth investigation of population representativeness

In [5]:
devices2check = pd.read_parquet('dbs/devices/devices_dt.parquet')
devices2check = devices2check['device_aid'].to_list()

In [9]:
paths2raw = []
for d in range(14, 32):
    data_folder = f"E:/MAD_dbs/raw_data_de_2/2023/03/{d}/"
    paths2raw += [os.path.join(data_folder, x) for x in os.listdir(data_folder)]
print(len(paths2raw))

499

In [16]:
devices_checked = []
df_dev_list = []
devices2check_r = devices2check.copy()
for file in tqdm(paths2raw):
    df1 = pd.read_csv(file, compression='gzip', sep='\t', usecols=['device_aid', 'OS'])
    df1 = df1.loc[df1['device_aid'].isin(devices2check_r)].drop_duplicates(subset=['device_aid'])
    df_dev_list.append(df1)
    devices_checked += df1['device_aid'].to_list()
    devices_checked = list(set(devices_checked))
    dc = set(devices_checked)
    devices2check_r = [x for x in devices2check if x not in dc]
covered = len(devices_checked)/len(devices2check) * 100
print("Cover %.2f devices."%covered)

100%|██████████| 499/499 [1:56:06<00:00, 13.96s/it]

Cover 30.63 devices.

In [18]:
df_dev = pd.concat(df_dev_list)
df_dev.drop_duplicates(subset=['device_aid'], inplace=True)
df_dev.groupby('OS').size()/len(df_dev)*100

OS
Android    87.289198
iOS        12.710362
dtype: float64