# Description of the applied data
Individual devices and places.

In [2]:
%load_ext autoreload
%autoreload 2
%cd D:\nine-euro-ticket-de

D:\nine-euro-ticket-de

In [10]:
# Load libs
import pandas as pd
import os
os.environ['USE_PYGEOS'] = '0'
import geopandas as gpd
from tqdm import tqdm
import workers
import tdid
import sqlalchemy
import numpy as np
from scipy.stats import spearmanr
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# Data location
user = workers.keys_manager['database']['user']
password = workers.keys_manager['database']['password']
port = workers.keys_manager['database']['port']
db_name = workers.keys_manager['database']['name']
engine = sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost:{port}/{db_name}?gssencmode=disable')

## 1. Individual devices

In [4]:
df_ind = pd.read_sql("""SELECT device_aid, grid_1km, age_100m FROM home_g;""", con=engine)
df_wt = pd.read_sql("""SELECT * FROM weight;""", con=engine)
df_ind = pd.merge(df_wt, df_ind, on='device_aid', how='left')
df_ind = pd.merge(df_ind, pd.read_sql("""SELECT * FROM data_desc.stops_p_indi;""", con=engine), on='device_aid', how='left')

In [5]:
df_ind.head()

,device_aid,wt_p,grid_1km,age_100m,no_loc,no_active_days,no_rec,total_days
0,0001bdf7-7bf9-6a62-2c06-a917b712bba6,3.194595,CRS3035RES1000mN3260000E4542000,NaN,11.0,12.0,17.0,24.0
1,0001f145-6b4d-4636-a108-a26abc35b220,5.615385,CRS3035RES1000mN2843000E4266000,48.0,8.0,14.0,30.0,77.0
2,00020451-44b2-446a-95d7-27a31353eb42,1.294258,CRS3035RES1000mN2878000E4472000,36.0,42.0,67.0,137.0,579.0
3,0003d043-ca49-6006-118d-ba3728007640,0.866667,CRS3035RES1000mN3091000E4086000,NaN,24.0,33.0,91.0,75.0
4,00045286-8ea8-49f1-92fd-92e75af34455,1.400859,CRS3035RES1000mN3113000E4062000,48.0,8.0,8.0,55.0,19.0

In [6]:
print(f"In total, {df_ind['no_rec'].sum()} stops from {len(df_ind)} devices are stored.")

In total, 1814227793.0 stops from 22850604 devices are stored.

In [7]:
df_ind[['no_loc', 'no_active_days', 'no_rec']].describe()

             no_loc  no_active_days        no_rec
count  2.285060e+07    2.285060e+07  2.285060e+07
mean   1.857069e+01    3.813116e+01  7.939518e+01
std    1.642148e+01    3.768560e+01  1.183421e+02
min    3.000000e+00    8.000000e+00  8.000000e+00
25%    8.000000e+00    1.400000e+01  2.300000e+01
50%    1.400000e+01    2.400000e+01  4.200000e+01
75%    2.300000e+01    4.700000e+01  8.600000e+01
max    8.510000e+02    4.930000e+02  4.093000e+03

## 2. Census data (2022)
Population count at 1 km resolution.

In [23]:
df_c = pd.read_csv('dbs/geo/census_2022/Zensus2022_Bevoelkerungszahl/Zensus2022_Bevoelkerungszahl_1km-Gitter.csv',
                   sep=';', encoding='latin-1')
df_c.columns = ['grid', 'x_mp_1km', 'y_mp_1km', 'pop']
df_c = df_c.rename(columns={'grid': 'grid_1km'})
df_c.head()

                          grid_1km  x_mp_1km  y_mp_1km  pop
0  CRS3035RES1000mN2689000E4337000   4337500   2689500    4
1  CRS3035RES1000mN2689000E4341000   4341500   2689500   11
2  CRS3035RES1000mN2690000E4341000   4341500   2690500    4
3  CRS3035RES1000mN2691000E4340000   4340500   2691500    3
4  CRS3035RES1000mN2691000E4341000   4341500   2691500   22

In [12]:
df_c['pop'].sum()

82706456

In [13]:
df_c.describe()

                 pop
count  210556.000000
mean      392.800281
std      1027.856974
min         3.000000
25%        17.000000
50%        64.000000
75%       281.000000
max     24164.000000

## 3. Population representation

In [24]:
def rep_cal(data):
    device_count = len(data)
    device_pop = data['wt_p'].sum()
    return pd.Series(dict(device_count=device_count, device_pop=device_pop))

df_c = pd.merge(df_c, df_ind.groupby('grid_1km').apply(rep_cal).reset_index(), on='grid_1km', how='left')
df_c.fillna(0, inplace=True)
df_c.head()

C:\Users\yuanlia\AppData\Local\Temp\ipykernel_7132\4152911565.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_c = pd.merge(df_c, df_ind.groupby('grid_1km').apply(rep_cal).reset_index(), on='grid_1km', how='left')

,grid_1km,x_mp_1km,y_mp_1km,pop,device_count,device_pop
0,CRS3035RES1000mN2689000E4337000,4337500,2689500,4,0.0,0.0
1,CRS3035RES1000mN2689000E4341000,4341500,2689500,11,1.0,11.0
2,CRS3035RES1000mN2690000E4341000,4341500,2690500,4,0.0,0.0
3,CRS3035RES1000mN2691000E4340000,4340500,2691500,3,0.0,0.0
4,CRS3035RES1000mN2691000E4341000,4341500,2691500,22,1.0,22.0

In [22]:
df_c.loc[:, 'ratio'] = df_c.loc[:, 'device_count'] / df_c['pop']
df_c.describe()

                 pop   device_count     device_pop          ratio
count  210556.000000  210556.000000  210556.000000  210556.000000
mean      392.800281     107.084372     388.126017       0.345629
std      1027.856974     942.899879    1046.918667       4.349319
min         3.000000       0.000000       0.000000       0.000000
25%        17.000000       0.000000       0.000000       0.000000
50%        64.000000       6.000000      58.000000       0.082294
75%       281.000000      41.000000     281.000000       0.200765
max     24164.000000  354991.000000   58081.896920     781.000000

### 3.1 Coverage

In [18]:
len(df_c[df_c['device_count'] > 0]) / len(df_c), df_c.loc[df_c['device_count'] > 0, 'pop'].sum() / df_c['pop'].sum()

(0.7430327323847338, 0.9861124263382777)

### 3.2 Correlation

In [21]:
# Calculate Spearman correlation
correlation, p_value = spearmanr(df_c['device_count'], df_c['pop'])

print("Spearman correlation:", correlation)
print("p-value:", p_value)

Spearman correlation: 0.8146302636825836
p-value: 0.0

In [25]:
# Apply function to create geometry column
df_c['geometry'] = df_c.apply(lambda row: workers.create_square(row['x_mp_1km'], row['y_mp_1km'], size=1000), axis=1)

# Convert to GeoDataFrame
gdf_c = gpd.GeoDataFrame(df_c, geometry='geometry', crs="EPSG:3035")
gdf_c.head()

,grid_1km,x_mp_1km,y_mp_1km,pop,device_count,device_pop,geometry
0,CRS3035RES1000mN2689000E4337000,4337500,2689500,4,0.0,0.0,"POLYGON ((4337000.000 2689000.000, 4338000.000..."
1,CRS3035RES1000mN2689000E4341000,4341500,2689500,11,1.0,11.0,"POLYGON ((4341000.000 2689000.000, 4342000.000..."
2,CRS3035RES1000mN2690000E4341000,4341500,2690500,4,0.0,0.0,"POLYGON ((4341000.000 2690000.000, 4342000.000..."
3,CRS3035RES1000mN2691000E4340000,4340500,2691500,3,0.0,0.0,"POLYGON ((4340000.000 2691000.000, 4341000.000..."
4,CRS3035RES1000mN2691000E4341000,4341500,2691500,22,1.0,22.0,"POLYGON ((4341000.000 2691000.000, 4342000.000..."

In [27]:
gdf_c.rename(columns={'device_count': 'd_count', 'device_pop': 'd_pop'}, inplace=True)

In [28]:
gdf_c.to_file('results/stats/pop_representation.shp')

## 4. Places included for analysis

In [4]:
data_folder = os.path.join('dbs/combined_visits_day_did/')
paths2stops = {x.split('.')[0]: os.path.join(data_folder, x)\
               for x in list(os.walk(data_folder))[0][2]}
lbs = [k for k, v in paths2stops.items()]
lbs[2]

'Café'

In [5]:
def label_stats(data):
    metrics = dict()
    metrics['label'] = data.name
    metrics['num_places'] = data['osm_id'].nunique()
    num_places_d = {f'd_thr_{i}': data.loc[data['num_unique_device'] > i, 'osm_id'].nunique()
                    for i in range(1, 11)}
    metrics.update(num_places_d)
    return pd.Series(metrics)

In [6]:
df_list = []
for lb in tqdm(lbs, desc='Load places'):
    df = pd.read_parquet(paths2stops[lb])
    df_list.append(df)
df = pd.concat(df_list)
df = df.loc[df['month'] != 9, :]
del df_list

Load places: 100%|██████████| 23/23 [00:44<00:00,  1.95s/it]

In [7]:
tqdm.pandas()
df_pym = df.groupby('label').progress_apply(label_stats).reset_index(drop=True)
# Calculate the sum for each numeric column
sum_row = df_pym.select_dtypes(include='number').sum()
sum_row['label'] = 'Total'

# Append the sum row to the DataFrame
df_pym = pd.concat([df_pym, pd.DataFrame(sum_row).T], ignore_index=True)

100%|██████████| 23/23 [00:10<00:00,  2.22it/s]

In [8]:
# Melt the DataFrame
df_pym.columns = ['label', 'd_thr_0'] + [f'd_thr_{i}' for i in range(1, 11)]
df_long = df_pym.melt(id_vars='label', var_name='visit_thr', value_name='place_count')

# Clean up the threshold column to contain only numeric values
df_long['visit_thr'] = df_long['visit_thr'].str.extract('(\d+)').astype(int)

# Sort by label and threshold for readability (optional)
df_long = df_long.sort_values(by=['label', 'visit_thr']).reset_index(drop=True)

print(df_long)

                    label  visit_thr place_count
0           Accomodations          0       35213
1           Accomodations          1       27319
2           Accomodations          2       17800
3           Accomodations          3       11174
4           Accomodations          4        7169
..                    ...        ...         ...
259  Wellness and fitness          6         142
260  Wellness and fitness          7          98
261  Wellness and fitness          8          81
262  Wellness and fitness          9          64
263  Wellness and fitness         10          54

[264 rows x 3 columns]

In [9]:
df_long.to_parquet('results/stats/places_visits.parquet', index=False)

### 4.1 Places visited by > 3 unique devices

In [5]:
def label_stats_ym(data):
    metrics = dict()
    metrics['num_places'] = data['osm_id'].nunique()
    return pd.Series(metrics)

Number of unique hexagons for the 9ET: 38985
Number of unique hexagons for the DT: 57824

In [11]:
df_s = df.loc[df.num_unique_device > 3, :].copy()
print(f"No. of unique places included for analysis: {df_s['osm_id'].nunique()}")

No. of unique places included for analysis: 168357

In [12]:
tqdm.pandas()
df_s_stats = df_s.groupby(['year', 'month']).progress_apply(label_stats_ym).reset_index()
df_s_stats.head()

100%|██████████| 18/18 [00:01<00:00,  9.72it/s]

   year  month  num_places
0  2019      5       10978
1  2019      6       15197
2  2019      7       15106
3  2019      8       14938
4  2022      2       52760

In [13]:
df_s_stats.to_parquet('results/stats/places_ym.parquet', index=False)

Extra for data visualization

In [4]:
import h3
from tqdm import tqdm
res = 8

df_home = pd.read_sql("""SELECT device_aid, latitude, longitude FROM home;""", con=engine)
tqdm.pandas()
df_home['h3_id'] = df_home.progress_apply(lambda row: h3.geo_to_h3(row['latitude'], row['longitude'], resolution=res), axis=1)

100%|██████████| 23792532/23792532 [07:37<00:00, 52058.82it/s]

In [5]:
df_home.to_parquet('D:/map-challenge-2024/dbs/day13/device_home.parquet', index=False)

## 5. Hexagons included for analysis

In [6]:
# Load hexagons
data_folder = 'dbs/combined_did_data/'
grp, lv = 'all', 'all'
file1 = data_folder + f'h3_grids_9et_{grp}_{lv}.parquet'
file2 = data_folder + f'h3_grids_dt_{grp}_{lv}.parquet'

df1 = pd.read_parquet(file1)
df2 = pd.read_parquet(file2)
print(f"Number of unique hexagons for the 9ET: {df1['h3_id'].nunique()}")
print(f"Number of unique hexagons for the DT: {df2['h3_id'].nunique()}")

Number of unique hexagons for the 9ET: 38985
Number of unique hexagons for the DT: 57824

In [11]:
df1 = tdid.place_filter_complete(data=df1, control_y=2019, treatment_y=2022, unit='h3')
print(f"Number of unique hexagons for the 9ET: {df1['h3_id'].nunique()}")

100%|██████████| 38985/38985 [00:48<00:00, 807.14it/s]
The 9ET searching: 100%|██████████| 38985/38985 [00:27<00:00, 1437.47it/s]

Number of unique hexagons for the 9ET: 22305

In [13]:
df2 = tdid.place_filter_complete(data=df2, control_y=2022, treatment_y=2023, unit='h3')
print(f"Number of unique hexagons for the DT: {df2['h3_id'].nunique()}")

100%|██████████| 57824/57824 [01:11<00:00, 808.10it/s]
The 9ET searching: 100%|██████████| 57824/57824 [00:42<00:00, 1363.73it/s]

Number of unique hexagons for the DT: 35747

In [14]:
def hex_stats_ym(data):
    metrics = dict()
    metrics['num_zones'] = data['h3_id'].nunique()
    return pd.Series(metrics)

df_s1 = df1.groupby(['year', 'month']).apply(hex_stats_ym, include_groups=False).reset_index()
df_s1.head()

     year  month  num_zones
0  2019.0    5.0      22120
1  2019.0    6.0      22184
2  2019.0    7.0      22170
3  2019.0    8.0      22161
4  2022.0    5.0      22120

## 6. Boundary files of German cities