# Detected stops' statistics
- Number of stops, users, active days, and time span.
- Users' active days description: count, # of stops per active day, duration of activities per active day.

In [1]:
%load_ext autoreload
%autoreload 2
%cd D:\nine-euro-ticket-de

D:\nine-euro-ticket-de

In [2]:
# Load libs
import pandas as pd
import numpy as np
from tqdm import tqdm
import sqlalchemy
from lib import workers as workers
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

In [3]:
# Data location
user = workers.keys_manager['database']['user']
password = workers.keys_manager['database']['password']
port = workers.keys_manager['database']['port']
db_name = workers.keys_manager['database']['name']
engine = sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost:{port}/{db_name}?gssencmode=disable')

## 1. Data of detected stops
04/09/2024 - Contains two batches. Scale up by a multiplier.

In [4]:
df = pd.read_sql_query(sql="""SELECT * FROM stops.stops;""", con=engine)
df.head(3)

,device_aid,interval,loc,start,end,latitude,longitude,size
0,008ced35-9372-4a6e-b268-acd413650b22,69,3,1695914963,1695924980,51.354999,9.448412,6
1,0098f8b7-a143-4757-89b3-41e3ddb36200,11,3,1694106155,1694109043,48.823409,9.325301,3
2,0173856b-8d6f-4761-9dc1-df0d73e620b8,3,1,1651751678,1651762491,50.863736,6.067982,3

In [6]:
scaler = 300 / 2
print("Data cover %s devices of %s stop points."%(df['device_aid'].nunique()*scaler, len(df)*scaler))

Data cover 53869650.0 devices of 1886666400.0 stop points.